<div class="row">
  <div class="columns small-12 text-center" style="position: relative; padding-bottom: 4rem">
    <span (click)="goBack()" class="icon-medium icon-link-arrow"
          style="position: absolute; left: 1rem; cursor: pointer; transform: rotate(180deg);"></span>
    <span class="icon-medium icon-cross" style="position: absolute; right: 1rem; cursor: pointer"
          (click)="goToStart()"></span>
    <div>{{'wizardTitle' | replaceLabel}}</div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 text-center">
    <span class="icon-xxlarge icon-car" style="padding-bottom: 2rem"></span>
  </div>
  <div class="columns small-12 text-center">
    <h2>{{'householdTransportationHeader' | replaceLabel}}</h2>
  </div>
  <div class="columns small-12 text-center">
    <h1>
      <hj-counter [min]="counterConfiguration.min" [max]="counterConfiguration.max" [(ngModel)]="store.cars.numberOfCars"></hj-counter>
    </h1>
  </div>
</div>

<div class="row">
  <div class="columns small-12 text-center" style="padding-top: 2rem">
    <hj-switch
      [(ngModel)]="store.cars.otherTransportExpensesAreEnabled"
      (onSwitchChange)="onChange()"
    >
    </hj-switch>
    <div style="cursor:pointer; display: inline-block; position: relative; top:-4px; left:10px">
      <h6>{{'carsOtherExpenses' | replaceLabel}}</h6>
    </div>
  </div>
</div>
<div class="row white-background" style="padding-bottom: 2rem" *ngIf="store.cars.otherTransportExpensesAreEnabled">
  <div class="columns small-12" style="position: relative; padding-top: 2rem">
    <div style="width: 0; height: 0; position: absolute; left: 50%; top: -20px; border: 10px solid transparent; transform: translate(-50%, 0);border-bottom-color: white"></div>
    <hj-value-slider
      description="{{'carsExpensesSlider' | replaceLabel}}"
      subDescription="{{'carsExpensesSliderSubDescription' | replaceLabel}}"
      postFix="{{('currency' + currency) | replaceLabel}}/{{'perMonthAbbreviation' | replaceLabel}}"
      toolTipText="{{'carsOtherExpensesTooltipText' | replaceLabel}}"
      [(ngModel)]="store.cars.otherTransportationCost"
      [range]="otherExpensesForTransportationRange"
      [mode]="SliderMode.SPECIFIC_RANGE">
    </hj-value-slider>
  </div>
  <div>
  </div>
</div>

<div class="row" [ngClass]="{'white-background':store.cars.otherTransportExpensesAreEnabled}">
  <div class="columns small-12 text-center" style="padding-top: 2rem;">
    <button (click)="goNext()">{{'adultIncomeButtonNextText' | replaceLabel}}</button>
  </div>
  <div class="columns small-12 text-center" style="padding-top: 1rem">
    <progress-dots></progress-dots>
  </div>
</div>
