@import "../../../styleguide/_settings/colors";

button {
  border-style: none;
}
.button-green {
  background-color: $accent-green;
}
.button-grey {
  background-color: $nordea-gray !important;
}

.blue-text {
  color: $deep-blue;
}

.bottom-container {
  background: white;
  padding: 2rem 0 1rem 0;
}

.sliders-container {
  background: white;
  padding: 2rem 1rem 1rem 1rem;
}

.header-link-container {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.affordability-amount {
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.relative {
  position:relative;
}

.pointer {
  cursor: pointer
}

.subamount-container {
  padding: 1rem 0 1rem 0;
  font-size: 0.8rem;
  line-height: 1rem;
}

.subamount-left {
  text-align:center;
  padding-left: 4rem;
}

.subamount-right {
  text-align:center;
  padding-right: 4rem;
}
