<hj-tooltip-container>
  <div class="row">
    <div class="columns small-12 text-center">
      <p>{{'indicativePurchaseLimitHeader' | replaceLabel}}</p>
    </div>
  </div>
  <div class="row relative">
    <div class="columns small-12 text-center">
      <h1 class="affordability-amount">{{(creditAssessment.totalAffordability || 0) |
        numberAmount}} {{('currency' + currency) | replaceLabel}}
        <a (click)="onHelpIconClicked()" class="icon-small icon-help pointer"
           [hjTooltip]="mainTooltip.text"
           [(hjTooltipVisible)]="mainTooltip.visible"
           [hjTooltipSticky]="true"
           [hjTooltipType]="mainTooltip.type">
        </a></h1>
    </div>
  </div>
  <div class="row subamount-container">
    <div class="columns small-6">
      <div class="subamount-left">
        {{'totalLoanDescription' | replaceLabel }}<br/>
        {{ creditAssessment.totalLoan | numberAmount }}&nbsp;{{ ('currency' + currency) | replaceLabel }}
      </div>
    </div>
    <div class="columns small-6">
      <div class="subamount-right">
        {{'loanCostDescription' | replaceLabel }}<br/>
        {{ monthlyLoanCost | numberAmount }}&nbsp;{{ ('currency' + currency) | replaceLabel }}/{{'perMonthAbbreviation'
        | replaceLabel}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 text-center header-link-container">
      <a href="#">{{'wayOfCalculationLinkDescription' | replaceLabel }}</a>
    </div>
  </div>
  <div class="row sliders-container">
    <div class="columns small-12">
      <hj-value-slider
        description="{{'householdIncomeDescription' | replaceLabel}}"
        subDescription="{{'householdIncomeSubDescription' | replaceLabel}}"
        postFix="{{('currency' + currency) | replaceLabel}}"
        toolTipText="{{'householdIncomeTooltipText' | replaceLabel}}"
        (onSliderChange)="onSliderChange()"
        [(ngModel)]="store.welcomeAssessment.householdIncomeValue"
        [range]="householdIncomeRange"
        [dialogMax]="maxIncome"
        [mode]="SliderMode.SPECIFIC_RANGE"
        [editModeEnabled]="true">
      </hj-value-slider>
    </div>
    <div class="columns small-12">
      <hj-value-slider
        description="{{'downPaymentDescription' | replaceLabel}}"
        subDescription="{{'downPaymentSubDescription' | replaceLabel}}"
        postFix="{{('currency' + currency) | replaceLabel}}"
        toolTipText="{{'downPaymentTooltipText' | replaceLabel}}"
        (onSliderChange)="onSliderChange()"
        [(ngModel)]="store.welcomeAssessment.downPaymentValue"
        [dialogMax]="maxDownPayment"
        [range]="downPaymentRange"
        [mode]="SliderMode.SPECIFIC_RANGE"
        [editModeEnabled]="true">
      </hj-value-slider>
    </div>
    <div class="columns small-12">
      <hj-value-slider
        description="{{'totalDebtDescription' | replaceLabel}}"
        subDescription="{{'totalDebtSubDescription' | replaceLabel}}"
        postFix="{{('currency' + currency) | replaceLabel}}"
        toolTipText="{{'totalDebtTooltipText' | replaceLabel}}"
        (onSliderChange)="onSliderChange()"
        [(ngModel)]="store.welcomeAssessment.totalDebtValue"
        [dialogMax]="maxDebt"
        [range]="totalDebtRange"
        [mode]="SliderMode.SPECIFIC_RANGE"
        [editModeEnabled]="true">
      </hj-value-slider>
    </div>
  </div>
  <div class="row bottom-container">
    <div class="columns small-12 text-center">
      <button
        [ngClass]="{'button-grey': !areIncomeAndDownPaymentValid(), 'button-green': areIncomeAndDownPaymentValid()}"
        [disabled]="!areIncomeAndDownPaymentValid()"
        (click)="goNext()">{{'indicativePurchaseLimitButtonNextText' | replaceLabel}}
      </button>
    </div>
    <div class="columns small-12 text-center blue-text">
      <br/>
      {{'continueWithCalculationsText' | replaceLabel}}
    </div>
  </div>
</hj-tooltip-container>
