@mixin font-style($fontSize: 16, $fontWeight: null, $textTransform: null) {
  font-size: rem-calc($fontSize);
  font-weight: $fontWeight;
  text-transform: $textTransform;
}

@mixin n16() {
  @include font-style(16);
}

@mixin n16-link() {
  @include font-style(16, bold);
}

@mixin n20() {
  @include font-style(20);
}

@mixin n20-link() {
  @include font-style(20, bold);
}

@mixin n22() {
  @include font-style(22, normal, uppercase);
}

@mixin n22-link() {
  @include font-style(22, bold, none);
}
