.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:rem-calc(17);
  height:rem-calc(14);
  margin-bottom: 7px;
  margin-top: 2px;
}

.hamburger__line {
  @include nordea-transition('transform width', $animation-duration--complex, $easing);
  width:100%;
  height:2px;
  border-radius: 25px;
  background-color: $white;
  transform: rotate(0deg) translateY(0px);

  &:nth-child(1) {
    transform-origin: bottom right;
  }

  &:nth-child(3) {
    transform-origin: top right;
  }

  .nav__button:hover & {
    background-color: $nordea-pink;
  }
}

//states
.hamburger {
  .menu-open & {
    .hamburger__line {
      &:nth-child(1) {
        transform: rotate(45deg) translateX(0);
        transform-origin: bottom left;
      }

      &:nth-child(2) {
        transform: scale(0);
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateX(0);
        transform-origin: top left;
      }
    }
  }
}
