.logo {
  width: rem-calc(107);
  height: $navigation__height;
  display: flex;
  align-items: center;
  opacity: 1;
  height: 3.375rem;
  padding: 1rem;

  @include breakpoint(large) {
    width: rem-calc(124);
    padding: 0 1.25rem;

    .navigation--docked & {
      transform: translateY(100%);

      .st0 {
        fill: $deep-blue;
      }
    }
  }

  a {
    display: block;
    width: 100%
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;

    path,
    polygon {
      @include nordea-transition(fill, $animation-duration--complex);
      fill: $white;
    }

    path,
    polygon {
      @include breakpoint(large) {
        .navigation--docked & {
          fill: $deep-blue;
        }
      }
    }
  }

  &.logo--white {
    path,
    polygon {
      fill: $white;
    }
  }
}
