.menu__wrapper {
  padding: 1rem 0;
  width: 90%;

  @include breakpoint(large) {
    width: auto;
    padding: 0;
  }
}

.menu__submenu {
  max-height: 0;
  overflow: hidden;
  @include nordea-transition(all);

  @include breakpoint(large) {
    transition: none;

    .active > & {
      max-height: none;
      overflow: visible;
    }
  }

  @include breakpoint(medium down) {
    .menu__submenu {
      padding-left: rem-calc(48);
    }
  }
}

.menu__submenu--panel {
  @include breakpoint(large) {
    display: none;
    overflow: visible;
    position: absolute;
    padding: 2px 1rem;

    .active & {
      display: block;
    }

    &:before {
      content: "";
      background: $white;
      display: block;
      width: 200vw;
      position: absolute;
      height: 100%;
      left: -100vw;
      border-bottom: 1px solid #b1b1b1;
    }
  }
}

.menu__sections {
  @extend .reset-list;
  @include nordea-transition(all);
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;

    .navigation--docked & {
      margin-right: 1.25 * $navigation__height;
    }

    & {
      & > .active,
      & > .menu__item--section--active,
      & > .menu__item--section--active.active {
        & > a {
          position: relative;

          &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            background: $deep-blue;
            width: 100%;
            height: 3px;
          }
        }
      }
    }
    &--active {
      & > .menu__item--section--active {
        & > a {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.menu__item {
  color: $deep-blue;

  a, p {
    color: $deep-blue;
    padding: 0.5rem 1.75rem;
    display: block;
    text-decoration: none;

    @include breakpoint(large) {
      padding: 0.5rem 0;
    }
  }

  &--link {
    a {
      @include breakpoint(large) {
        @include n16-link;
      }

      &:after {
        display: none;
      }
    }

    & p {
      display: none;

      @include breakpoint(large) {
        display: block;
        line-height: 1.2rem;
      }
    }
  }

  &--group-title {
    display: none;

    @include breakpoint(large) {
      @include n22;
      line-height: 1.8rem;
      display: inline-block;
      font-weight: normal;
      padding: 0 !important;

      &-link {
        @include n22-link;
      }
    }
  }

  &--section {
    @include breakpoint(large) {
      margin: 0 1rem !important;
    }

    > a {
      @include breakpoint(large) {
        @include n20-link;
        padding: 0;
        line-height: $navigation__height;
      }

      &:after {
        @extend %icon-font;
        @extend .icon-angle-down:before;
        font-size: rem-calc(10);
        color: $deep-blue;
        margin-left: 7px;
        font-weight: bold;

        @include breakpoint(large) {
          display: none;
        }
      }
    }


    &.active > a {
      &:after {
        @extend .icon-angle-up:before;
      }
    }
  }
}

.menu__item--link > p {
  padding: 0;
}

.menu__categories {
  @include breakpoint(large) {
    position: relative;
    width: 33.33333%;
    padding-right: 3%;
    margin-top: 1.5rem;

    > .menu__item--group-title {
      padding-left: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}

.menu__categories-item {
  background: $cloud-blue;

  svg {
    display: none;
  }

  @include breakpoint(large) {
    position: static;
    background: transparent;

    &.active {
      > a, > p {
        background: $cloud-blue;
        @include pointier-item($cloud-blue, 20px);
      }
    }
  }

  > a, > p {
    padding-left: 2.75rem;
    margin-bottom: 0;
    cursor: pointer;

    @include breakpoint(large) {
      padding: 0.5rem 0 0.5rem 0.5rem;
      @include n16-link;
    }

    &:after {
      @extend %icon-font;
      @extend .icon-angle-down:before;
      font-size: rem-calc(10);
      color: $deep-blue;
      margin-left: 7px;
      font-weight: bold;

      @include breakpoint(large) {
        display: none;
      }
    }

    .text {
      position: relative;
      z-index: 1; // place above arrow
    }
  }

  &.active {
    > a, > p {
      &:after {
        @extend .icon-angle-up:before;
      }
    }
  }
}

// This should be similar to the panel
.menu__submenu--w-tools,
.menu__submeny--no-tools,
.menu__submenu--tools {
  background: $light-blue;
  padding: 0 1rem;

  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background: transparent;
  }
}

.menu__submeny--no-tools {
  @include breakpoint(large) {
    width: 200%;

    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .menu__item--link {
    @include breakpoint(large) {
      width: 48%;
      margin-right: 2%;
    }
  }
}

.menu__submenu--tools {
  @include breakpoint(large) {
    left: 210%;
    width: 90%;
  }
}


.menu__tools {
  display: none;
}

@include breakpoint(large) {
  .active > .menu__submenu--tools > .menu__tools {
    display: block;

    p {
      margin: 0;
    }
  }
}


.menu__tools-item {
  a {
    display: flex;
    align-items: center;

    > .icon {
      @include round-icon();
      flex-shrink: 0;
      margin-right: 1rem;
    }
  }

  > p {
    display: none;
  }
}
