@import './font-styles';
@import './menu';

@import './logo';
@import './hamburger';


main {
  padding-top: $navigation__height;

  @include breakpoint(large) {
    padding-top: 2 * $navigation__height;
  }
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  height:$navigation__height * 2;
  @include zindex('global', 'navigation');

  @include breakpoint(large) {
    position: absolute;

    .navigation--docked & {
      position: fixed;
      transform: translateY(-50%);
    }
  }
}

nav {
  width: 100%;
  @include nordea-transition(transform);
  // translate it some extra % to make sure it's properly hidden
  transform: translateX(101%);
  position: fixed;
  background: $white;
  height: calc(100% - 3.375rem);
  overflow-y: auto;
  border-left: 1px solid #b1b1b1;
  display: flex;
  flex-direction: column;

  .menu-open & {
    transform: translateX(10%);
  }

  .disable-scroll & {
    transition-timing-function: linear;
    transition-duration: 100ms;
  }

  @include breakpoint(large) {
    border-left: none;
    background: transparent;
    transform: translateX(0) !important;
    margin-left: auto;
    position: static;
    width: auto;
    overflow-y: visible;
  }
}

.nav-top, .nav-bottom {
  height: $navigation__height;
}

.nav-top {
  background: $deep-blue;
}

.nav-bottom {
  @include nordea-transition(background-color);
  background: transparentize(white, .15);
  height: 0;

  @include breakpoint(large) {
    height: $navigation__height;
  }
}

.nav-bar-wrapper {
  display: flex;

  @include breakpoint(large) {
    @include grid-row()
  }
}

.site-sections {
  background: $gothenburg-gray;
  padding: 1rem 0;
  width: 90%;

  @include breakpoint(large) {
    width: auto;
    margin-left: auto;
    padding: 0;
    background: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
      flex-direction: row;
    }

    a {
      color: $deep-blue;
      @include n16;

      &.active {
        @include n16-link;
      }

      @include breakpoint(large) {
        color: $white;
        white-space: nowrap;
        display: block;
        text-decoration: none;
        line-height: 3.375rem;
        margin: 0 1rem;
        line-height: 3.375rem;

        &.active {
          color: $light-blue;
          position: relative;
          text-decoration: none;

          &:before {
            content: "";
            height: 3px;
            background: $light-blue;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }
    }
  }
}

.language-selector {
  width: 90%;
  margin-top: auto;

  @include breakpoint(large) {
    margin: 0 1rem;
    position: static;
    background: transparent;
    width: auto;
    display: flex;
    align-items: center;
  }

  .select-wrapper {
    &:before {
      color:$white;
    }

    select {
      color: $white;
      line-height: 3.375rem;
      height: auto;
    }
  }

  .prompt {
    width: 90%;
    position: absolute;
    bottom: $navigation__height;
    border-top: 1px solid $nordea-blue;
  }
}

.language-selector__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: $deep-blue;
  height: 3.375rem;

  a {
    line-height: 3.375rem;
    padding: 0 1rem;
    color: $white;
    display: block;
    text-decoration: none;

    &.active {
      color: $light-blue;
      font-weight: bold;
    }
  }
}

.nav__button {
  width: 1.2 * $navigation__height;
  border-radius: 0;
  color: $white;
  font-size: rem-calc(12);
  font-weight: normal !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: rem-calc(54);
  border: 0;

  &:focus,
  &:active {
    background: $nordea-blue;
    color: $white;
  }

  &--menu {
    &:focus,
    &:active {
      background: $deep-blue;
      color: $white;
    }
  }

  [class^="icon-"] {
    font-size: rem-calc(20);
    margin-bottom: 4px;
  }

  &--login {
    .login-open & {
      [class^="icon-"] {
        &:before {
          font-size: 0.8rem;
          @extend .icon-cross;
          @include breakpoint(large) {
            min-width: 1.25rem;
            font-size: 0.9rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
          }
        }
      }
    }
  }

  @include breakpoint(large) {
    width: 2.5 * $navigation__height;
    flex-direction: row;

    [class^="icon-"] {
      margin-right: 5px;
      margin-bottom: 0;
    }

    &--search {
      background: $white;
      color: $deep-blue;
    }

    .navigation--docked & {
      [class^="icon-"] {
        margin-right: 0;
      }

      &--search, &--login {
        width: 1.25 * $navigation__height;

        .text {
          display: none;
        }
      }

      &--login {
        animation: navigation__login-docked $animation-duration forwards $easing;
        background: $white;
        color: $deep-blue;
        @include zindex('global', 'loginicon');

        &:hover {
          color: $nordea-pink;
          background: $nordea-blue;
        }
      }
    }

    .login-open & {
      &--login {
        background: $nordea-blue;
        color: $white;
      }
    }

    .navigation--undocked & {
      &--login {
        animation: navigation__login-undocked $animation-duration forwards $easing;
      }
    }
  }
}

.nav__button--login {
  background-color: $nordea-blue;
}


.nav__button--search {
  background-color: $nordea-blue;

  @include breakpoint(large) {
    background-color: $white;
  }
}

.nav__button--menu {
  margin-left: auto;
  background: transparent;
}

// Temp
.login-menu, .search-menu {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: $navigation__height;
  width: 100%;
  @include nordea-transition('max-height')
  @include zindex('global', 'loginicon');

  @include breakpoint(large) {
    overflow: hidden;
  }
}

.login-menu {
  background: $nordea-blue;
  color: $white;
  overflow-y: auto;

  @include breakpoint(large) {
    overflow-y: hidden;
  }

  h2, h3 {
    color: $white;
  }

  h2 {
    @include n22;
    margin-top: 3rem;

    @include breakpoint(large) {
      margin-top: 2rem;
    }
  }

  h3 {
    @include n16-link;

    @include breakpoint(large) {
      @include n22;
    }
  }

  .button {
    @include breakpoint(large) {
      width: 100%;
    }
  }


  @include breakpoint (medium down) {
    height: 100vh;
    width: 90%;
    right: 0;
  }

  @include breakpoint(large)  {
    position: static;

    .navigation--docked & {
      position: absolute;
      top: 6.75rem;
    }
  }
}

.login-menu-wrapper {
  @include grid-row;

  @include breakpoint(large)  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}

.login-buttons,
.login-links {
  margin-bottom: 2rem;

  ul {
    @extend %reset-list;
    padding: 0.5rem 0;
  }

  li {
    display: block;

    a {
      padding: 0.5rem 1rem 0.5rem 2rem;
      margin-bottom: 0;
      display: block;

      @include breakpoint(large) {
        padding-left: 0;
      }
    }
  }
}

.login-buttons {
  @include grid-column;
  float: none;

  @include breakpoint(large) {
    flex-basis: 33%;
  }

  p {
    margin-top: 2rem;
  }
}

.login-links {
  margin-bottom: 5rem;
  @include breakpoint(large) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
    margin-right: auto;
    @include grid-column;
    float: none;
    padding-right: 0 !important;
  }

  h2,
  h3 {
    @include grid-column;
    float: none;

    @include breakpoint(large) {
      padding-left: 0;
    }
  }

  h2 {
    @include breakpoint(large) {
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 0;
    padding: 0.9rem 1rem;
    cursor: pointer;

    @include breakpoint(large) {
      cursor: default;
      padding-left: 0;
      padding-bottom: 0.2rem;
    }

    &:after {
      @extend %icon-font;
      @extend .icon-angle-down:before;
      font-size: rem-calc(10);
      margin-left: 7px;
      font-weight: bold;

      @include breakpoint(large) {
        display: none;
      }
    }

    &.active {
      &:after {
        @extend .icon-angle-up:before;
      }
    }
  }

  > div {
    @include breakpoint(large) {
      width: 50%;
    }
  }
}

.login-links-list {
  max-height: 0;
  overflow: hidden;
  background-color: $deep-blue;
  @include nordea-transition;

  @include breakpoint(large) {
    max-height: none;
    background-color: transparent;
    overflow: visible;
  }
}

// Some extra styles to make sure the old one is renderd somewhat corrent.
.login-menu--legacy {
  @include breakpoint(large)  {
    display: block;
  }

  > .row {
    padding: 2rem 0;
  }
}

.search-menu {
  background: $white;

  .search__form {
    margin: 0.5rem;
  }

  input[type="search"] {
    border: 1px solid #ccc;
    height: 3rem;
  }

  @include breakpoint(large) {
    display: none;
  }
}
