.faq-cards {
  display: flex;
  flex-wrap: wrap;
}

.faq-card {
  display: flex;
  margin-bottom: 1.5rem;

  .card {
    width: 100%;
  }

  @include breakpoint(medium) {
    margin-bottom: 2rem;

    h2 {
      min-height: 63px;
    }
  }

  @include breakpoint(large) {
    h2 {
      min-height: 43px;
    }
  }
}

.faq-card__questions {
  margin-bottom: 2rem;

  li {
    margin-bottom: 1rem;
    margin-left: 1.2rem;
  }

  .block-link {
    position: relative;

    &:before {
      position: absolute;
      top: rem-calc(8);
      margin-left: 0;
      left: -1rem;
      font-size: 10px;
      color: $deep-blue;
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
  }
}

.faq-card__see-all {
  margin-top: 3rem;
  color: $nordea-blue;
  text-decoration: none;
  font-weight: bold;
}
