.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.disable-scroll {
  overflow-y: hidden;
}

// "Open in a new window"-icon
a[target='_blank'] {
  // Changes the default behavior of linked headings with target _blank inside featured content component.
  // So the icon will align beside the heading.
  .featured-content-block & {
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: inline;
    }
  }

  &.highlighted-tool--anchor .highlighted-tool__headline,
  .iconic-label__text,
  .banner__button-text--fullyclickable {
    &:after {
      content: '';
      display: inline-block;
      clear: both;
      width: 1rem;
      margin-right: 0.2rem;
      margin-left: 0.2rem;
      height: rem-calc(12);
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpath d='M16 0H3v3H0v9h13v-2h3V0zm-1 9H7v1h5v1H1.9L8 5.6V8h1V4H5v1h2.2L1 10.4V4h2v1h1V1h11v8z' fill='%2373ace6'/%3E%3C/svg%3E")
        bottom left no-repeat;
    }
  }
  &.highlighted-tool--anchor .highlighted-tool__headline,
  .iconic-label__text {
    display: inline;
  }

  &:after {
    content: '';
    display: inline-block;
    clear: both;
    width: 1rem;
    margin-right: 0.2rem;
    height: rem-calc(12);
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpath d='M16 0H3v3H0v9h13v-2h3V0zm-1 9H7v1h5v1H1.9L8 5.6V8h1V4H5v1h2.2L1 10.4V4h2v1h1V1h11v8z' fill='%2373ace6'/%3E%3C/svg%3E")
      bottom left no-repeat;

    // Adds margin to the icon when there's linked text with target _blank inside an article.
    .article &,
    .card & {
      margin-left: 0.2rem;
    }

    .product-teaser & {
      margin-left: 4px;
    }
  }
}

.CookieReportsLink:after {
  margin-left: 0.2rem;
}

// Blacklisted links for the "Open in new window"-icon
.social-icons a[target='_blank'],
a[data-modal-url],
a[target='_blank'].highlighted-tool--anchor,
.sticky-contact a[target='_blank'],
.iconic-label a[target='_blank'],
.jumbotron .remove-default-link,
a.iconic-label[target='_blank'] {
  &:after {
    display: none !important;
    background: none !important;
  }
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.application--33 {
  margin-bottom: 2rem;
}
