.section--hero-section {
  .section-right {
    @include breakpoint(medium) {
      .medium-4 {
        @include grid-column(6);
      }
      .medium-8 {
        @include grid-column(12);
      }
    }

    &--no-search {
      margin-top: 5rem;
    }
  }
}

