.navigation__lang,  .js-select-from-list, .js-country-selector {
  select {
    &:not(:focus) {
      outline: 0;
    }
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }
  .active {
    font-weight: bold;
  }
}

.prompt {
  @include zindex('global', 'login');
  background-color: $cloud-blue;
  max-height: 0;
  @include nordea-transition(max-height)

  & + .prompt {
    border-top: 1px solid #a6d1ff;
  }

  .article {
    padding: 0;
  }

  p {
    margin-bottom: 0;
  }

  button {
    margin-top: 1rem;
  }

  .button--cancel {
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      margin-bottom: 0;
      margin-right: 1rem;
    }
  }
}
