.form__overlay {
  position: absolute;
  z-index: 2;
  background: rgba(255,255,255,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute;
  left: calc(50% - 5em);
  top: calc(50% - 5em);
}

.loader {
  margin: 0;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,160, 0.2);
  border-right: 1.1em solid rgba(0,0,160, 0.2);
  border-bottom: 1.1em solid rgba(0,0,160, 0.2);
  border-left: 1.1em solid #0000a0;
  transform: translateZ(0);
  animation: spinner 1.1s infinite linear;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}