.news-spot {
  margin-bottom: 1rem;

  .spinner {
    position: static;
  }

  .read-more {
    margin-top: auto;
    color: $nordea-blue;
    font-weight: bold;
    margin: 0.6rem 0 0 0;
    display: block;
  }
}

.news-wrapper {
  background: $white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 320px;
  position: relative;

  @include breakpoint(large) {
    height: 370px;
  }
}

.news-list {
  @extend .reset-list;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  li {
    p {
      margin-bottom: 0;
    }

    time {
      text-transform: uppercase;
      font-size: rem-calc(18);
      display: block;
      margin-top: 2rem;
    }

    &:first-child {
      time {
        margin-top: 0;
      }
    }
  }

  a {
    color: $nordea-blue;
  }
}
