<div class="row">
  <div class="columns text-center">
    <p>{{'dashboardHeader' | replaceLabel}}</p>
  </div>
</div>
<div class="row">
  <div class="columns text-center">
    <h1 style="padding-bottom: 0; margin-bottom: 0; font-weight: bold">
      {{(dashboard.totalAffordability || 0) | numberAmount}}
      {{('currency' + dashboard.currency) | replaceLabel}}
      <a (click)="onHelpIcon()" style="cursor: pointer" class="icon-small icon-help"></a>
    </h1>
  </div>
</div>
<div class="row" style="position:relative; z-index: 2; margin-top: 1rem; font-size: 14px">
  <div class="call-out-container" *ngIf="dashboard.callbackVisibility.realisticCallbackVisible">
    <div class="call-out" style="background: #ffcf3d;">
      {{'realisticTotalAffordabilityDescription' | replaceLabel}}
    </div>
  </div>
  <div class="call-out-container" *ngIf="dashboard.callbackVisibility.unlikelyCallbackVisible">
    <div class="call-out" style="background: #00005e; color: white;">
      {{'unlikelyTotalAffordabilityDescription' | replaceLabel}}
    </div>
  </div>
</div>

<div class="row">
  <div class="columns text-center">
    <hj-affordability-slider
      [min]="dashboard.affordabilitySliderValues.min"
      [max]="dashboard.affordabilitySliderValues.max"
      [thresholds]="dashboard.affordabilitySliderValues.thresholds"
      [labels]="dashboard.affordabilitySliderValues.labels"
      [value]="dashboard.totalAffordability"
      (change)="onSliderChange($event)">
    </hj-affordability-slider>
  </div>
</div>

<div class="row text-center small-text" style="white-space: nowrap; line-height: 1rem; padding-top: 1rem">
  <div class="columns small-4">
    {{'dashboardTotLoan' | replaceLabel }}<br/>
    {{ dashboard.totalLoan | numberAmount }}&nbsp;{{ ('currency' + dashboard.currency) | replaceLabel }}
  </div>
  <div class="columns small-4">
    {{'dashboardLoanCost' | replaceLabel }}<br/>
    {{ dashboard.monthlyLoanCost | numberAmount }}&nbsp;{{ ('currency' + dashboard.currency) | replaceLabel
    }}/{{'perMonthAbbreviation' |
    replaceLabel}}
  </div>
  <div hjHelpIndicator class="columns small-4 {{dashboard.activeAffordabilityThresholdTextClass}}">
    {{'dashboardLeftSpending' | replaceLabel }}<br/>
    {{ dashboard.leftForSpending | numberAmount }}&nbsp;{{ ('currency' + dashboard.currency) | replaceLabel
    }}/{{'perMonthAbbreviation' |
    replaceLabel}}
  </div>
</div>

<div class="row">
  <div class="columns text-center">
    <a class="blue-text small-text " style="cursor: pointer" (click)="onDashboardMoreDetails()">{{'dashboardMoreDetails'
      | replaceLabel}}</a>
  </div>
</div>

<div class="row">
  <div class="columns">
    <income-and-debt></income-and-debt>
  </div>
</div>
