@import "../../../styleguide/_settings/colors";

.row-flex {
  display: flex;
  flex-direction: row;
}

.column-flex {
  flex: 0px;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
  height: 10%;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.label {
  cursor: pointer;
  padding-top: 3%;
  display: inline-block;
  border: 0.2px solid gainsboro;
  position: relative;
}

.slider {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: -20px;
  border: 10px solid transparent;
  transform: translate(-50%, 0);
  border-bottom-color: white;
}

.expenses {
  cursor: pointer;
  background-color: #f4f2f1;
  display: inline-block;
  border: 0.2px solid gainsboro;
  position: relative;
}

.blue-text {
  color: $deep-blue;
}

.small-text {
  font-size: 0.6rem;
}

.white-background {
  background-color: white;
}

.button-green {
  border-style: none;
  background-color: $accent-green;
}

.expenses {
  cursor: pointer;
  background-color: #f4f2f1;
  display: inline-block;
  border: 0.2px solid gainsboro;
  position: relative;
}

.slider {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: -20px;
  border: 10px solid transparent;
  transform: translate(-50%, 0);
  border-bottom-color: white;
}

//hj-value-slider {
//  margin-left: 2%;
//}

.text-aggressive {
  color: $accent-red-dark-bg;
}

.text-stretched {
  color: $accent-yellow;
}

.text-affordable {
  color: $accent-green;
}

.call-out-container {
  width: 100%;
  position: absolute;
}

.call-out {
  padding: 1.5rem;
  margin: 0 1rem 0 1rem;
}
