@import "../../../../styleguide/_settings/colors";
@import "../../../../styleguide/_plugins/foundation/util/_unit";

$notch-size: 5px;

:host {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  text-align: left;
  font-weight: normal;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  cursor: initial;
  color: $black;
}

:host(.hj-tooltip-visible) {
  opacity: 100;
  transition: opacity 0.25s ease-in;
}

:host(.hj-tooltip-hidden) {
  display: none;
  opacity: 0;
  transition: opacity 0.25s ease-out;
}

.hj-tooltip-notch {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border: $notch-size solid transparent;
}

.hj-tooltip-body {
  padding: 1em;
}

//ALERT
:host(.hj-tooltip-alert) {
  .hj-tooltip-notch {
    border-color: $accent-red-dark-bg;
  }

  .hj-tooltip-body {
    background-color: $accent-red-dark-bg;
  }
}

//WARNING
:host(.hj-tooltip-warning) {
  .hj-tooltip-notch {
    border-color: $accent-yellow;
  }

  .hj-tooltip-body {
    background-color: $accent-yellow;
  }
}


//SUCCESS
:host(.hj-tooltip-success) {
  .hj-tooltip-notch {
    border-color: $accent-green-dark-bg;
  }

  .hj-tooltip-body {
    background-color: $accent-green-dark-bg;
  }
}

//INFORMATION
:host(.hj-tooltip-information) {
  .hj-tooltip-notch {
    border-color: $deep-blue;
  }
  .hj-tooltip-body {
    background-color: $deep-blue;
    color: $white;
  }
}

//ABOVE
:host(.hj-tooltip-above) {
  padding-bottom: $notch-size*2;
  transform: translateY(-100%);

  .hj-tooltip-notch {
    bottom: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

//BELOW
:host(.hj-tooltip-below) {
  padding-top: $notch-size*2;

  .hj-tooltip-notch {
    top: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

