/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "NordeaSansLarge"; src: url("assets/fonts/NordeaSansLarge/NordeaSansLarge-Medium.ttf") format('truetype'); }

body {
  margin:  0;
  font-family: "NordeaSansLarge" !important;
}

.text--small {
  font-size: 12px;
}

.padding-margin-bottom--0 {
  padding-bottom: 0;
  margin-bottom: 0;
}

//Overwrite because of open pages modal style conflict
[role="dialog"] {
  position: relative !important;
  animation: none;
}
