@import "../../../styleguide/_settings/colors";

.white-background {
  background-color: white;
}

button {
  background-color: $accent-green;
  border-style: none;
}

input[type=checkbox].switch + label {
  margin-bottom: 0!important;
}
