<div class="row">
  <div class="columns small-12 text-center" style="position: relative; padding-bottom: 4rem">
    <span (click)="goToStart()" class="icon-medium icon-cross"
          style="position: absolute; right: 1rem; cursor: pointer"></span>
    <span class="icon-medium icon-link-arrow"
          style="position: absolute; left: 1rem; cursor: pointer; transform: rotate(180deg);" (click)="goBack()"></span>
    <div>{{'wizardTitle' | replaceLabel}}</div>
  </div>
</div>
<div class="row">
  <div class="columns small-12 text-center">
    <span class="icon-xxlarge icon-apartment" style="padding-bottom: 2rem"></span>
  </div>
  <div class="columns small-12 text-center">
    <h2>{{'propertyHeader' | replaceLabel}}</h2>
  </div>
</div>
<div class="row">
  <div class="columns small-12 text-center" style="padding-top: 2rem;padding-left: 30%;
    padding-right: 30%;">
    <div (click)="store.property.isExistingProperty = false" style="float: left">
      <h4>{{'noValue' | replaceLabel}}</h4>
    </div>
    <hj-switch
      [(ngModel)]="store.property.isExistingProperty"
      (onSwitchChange)="onExistingPropertyChange()"
      [noMarginBottom]="true"
    ></hj-switch>
    <div (click)="store.property.isExistingProperty = true" style="float: right">
      <h4>{{'yesValue' | replaceLabel}}</h4>
    </div>

  </div>
</div>
<br/>
<div class="row white-background" style="background: white; padding-bottom: 2rem" *ngIf="store.property.isExistingProperty">
  <div class="columns small-12 text-center" style="position: relative; padding-top: 2rem; padding-left: 15%; padding-right:15%">
    <h6>Specify cost and remaining loans for all your properties</h6>
  </div>
  <div class="columns small-12 " style="position: relative; padding-top: 2rem">
    <div
      style="width: 0; height: 0; position: absolute; left: 50%; top: -20px; border: 10px solid transparent; transform: translate(-50%, 0);border-bottom-color: white"></div>
    <hj-value-slider [(ngModel)]="store.property.operationalCost"
                     description="{{'propertyCostSlider' | replaceLabel}}"
                     subDescription="{{'propertyCostSliderSubDescription' | replaceLabel}}"
                     [max]="100000" [step]="100"
                     toolTipText="{{'propertySliderCostSubtext' | replaceLabel}}"
                     postFix="{{('currency' + currency) | replaceLabel}}/{{'perMonthAbbreviation' | replaceLabel}}"></hj-value-slider>
    <hj-value-slider [(ngModel)]="store.property.loanLeft"
                     description="{{'propertyLoanSlider' | replaceLabel}}" [max]="100000" [step]="100"
                     subDescription="{{'propertyLoanSliderSubDescription' | replaceLabel}}"
                     toolTipText="{{'propertySliderLoanSubtext' | replaceLabel}}"
                     postFix="{{('currency' + currency) | replaceLabel}}/{{'perMonthAbbreviation' | replaceLabel}}"></hj-value-slider>
  </div>
  <div>
  </div>
</div>
<div class="row" [ngClass]="{'white-background':store.property.isExistingProperty}">
  <button (click)="goNext()">Next</button>
  <div class="columns small-12 text-center" style="padding-top: 1rem">
    <progress-dots></progress-dots>
  </div>
</div>
