<div class="row">
  <div class="columns small-12 text-center" style="position: relative; padding-bottom: 4rem">
    <span (click)="goToStart()" class="icon-medium icon-cross" style="position: absolute; right: 1rem; cursor: pointer"></span>
    <div>{{'wizardTitle' | replaceLabel}}</div>
  </div>
</div>
<div class="row">
  <div class="columns small-12 text-center">
    <span class="icon-xxlarge icon-contacts" style="padding-bottom: 2rem"></span>
  </div>
  <div class="columns small-12 text-center">
    <h2>{{'adultIncomePeopleHeader' | replaceLabel}}</h2>
  </div>
</div>
<form #f="ngForm">
  <div class="row" style="padding: 2rem 0 2rem 0">
    <div class="columns small-6">
      <div class="float-right" style="padding-right:2rem">
        <input type="radio" id="adultOne" value="1" name="adultCount" [(ngModel)]="adultsAndIncome.adultCount"
               (ngModelChange)="onAdultCountChanged($event)">
        <label for="adultOne">{{'adultIncomeOnePerson' | replaceLabel}}</label>
      </div>
    </div>
    <div class="columns small-6">
      <div style="padding-left:2rem">
        <input type="radio" id="adultTwo" value="2" name="adultCount" [(ngModel)]="adultsAndIncome.adultCount"
               (ngModelChange)="onAdultCountChanged($event)">
        <label for="adultTwo">{{'adultIncomeTwoPersons' | replaceLabel}}</label>
      </div>
    </div>
  </div>
</form>
<div class="row" style="background: white; padding-bottom: 2rem">
  <div class="columns small-12 text-center" style="position: relative; padding-top: 2rem">
    <div style="width: 0; height: 0; position: absolute; left: 50%; top: -20px; border: 10px solid transparent; transform: translate(-50%, 0);border-bottom-color: white"></div>
    <h5>{{'adultIncomeMonthlyIncomeHeader' | replaceLabel}}</h5>
  </div>
  <div *ngIf="!isFinishCountry()" class="columns small-12 text-center" style="padding-top: 2rem">
    <hj-switch
      [(ngModel)]="adultsAndIncome.manualIncomeAfterTax"
      (onSwitchChange)="onIncomeAfterTaxSwitchChanged()">
    </hj-switch>
    <div style="cursor:pointer; display: inline-block; position: relative; top:-4px; left:10px">
      <h6>{{'adultIncomeSetManualAfterTaxValue' | replaceLabel}}</h6>
    </div>
  </div>
  <div class="columns small-12" *ngIf="!adultsAndIncome.manualIncomeAfterTax">
    <div *ngFor="let adult of adultsAndIncome.adults; let i = index">
      <h5 *ngIf="adultsAndIncome.adults.length > 1">{{'adultHeader'+ (i+1) | replaceLabel}}</h5>
      <hj-value-slider
        [(ngModel)]="adult.incomeBeforeTaxation"
        (onSliderChange)="onIncomeBeforeTaxSliderChange(adult)"
        description="{{'adultIncomeBeforeTax' | replaceLabel}}"
        subDescription="{{ 'incomeAfterTaxation' | replaceLabel | format: (adult.incomeAfterTaxation | numberAmount: 0): (('currency' + currency) | replaceLabel) }}"
        postFix="{{ ('currency' + currency) | replaceLabel}}"
        [dialogMax]="maxIncomeBeforeTax"
        [range]="this.incomeRangeBeforeTax"
        [mode]="SliderMode.SPECIFIC_RANGE"
        [editModeEnabled]="true">
      </hj-value-slider>
    </div>
  </div>
  <div class="columns small-12" *ngIf="adultsAndIncome.manualIncomeAfterTax">
    <div *ngFor="let adult of adultsAndIncome.adults; let i = index">
      <h5 *ngIf="adultsAndIncome.adults.length > 1">{{'adultHeader'+ (i+1) | replaceLabel}}</h5>
      <hj-value-slider
        [(ngModel)]="adult.incomeAfterTaxation"
        description="{{'adultIncomeAfterTax' | replaceLabel}}"
        postFix="{{ ('currency' + currency) | replaceLabel}}"
        [dialogMax]="maxIncomeAfterTax"
        [range]="this.incomeRangeAfterTax"
        [mode]="SliderMode.SPECIFIC_RANGE"
        [editModeEnabled]="true">
      </hj-value-slider>
    </div>
  </div>
  <div class="columns small-12 text-center text--small" style="color: #00005e">
    <p [innerHTML]="'totalIncomeAfterTaxation' | replaceLabel | format: (adultsAndIncome.totalIncomeAfterTaxation() | numberAmount: 0): (('currency' + currency) | replaceLabel)"></p>
  </div>
  <div class="columns small-12 text-center">
    <button class="button--green" (click)="goNext()">{{'adultIncomeButtonNextText' | replaceLabel}}</button>
  </div>
  <div class="columns small-12 text-center" style="padding-top: 1rem">
    <progress-dots></progress-dots>
  </div>
</div>
