/**
* @stylesheet _breadcrumb.scss Breadcrumb
* @parent molecules
*
* @description
* Coming soon
*
* @demo demos/molecules/_breadcrumb-demo.html

* @body
**/

.breadcrumb {
  @extend .reset-list;

  li {
    float: left;
    margin-bottom: rem-calc(16) !important;

    @include breakpoint(medium) {
      margin-bottom: 0 !important;
    }

    .block-link {
      font-size: rem-calc(18);
      text-transform: uppercase;
      color: $deep-blue;

      .breadcrumb-icon {
        margin: 0 rem-calc(10);
        position: relative;
        top:rem-calc(-1);
        color:$medium-blue;
        vertical-align: middle;
      }

      &:before {
        display: none;
      }

    }

    &:last-child .block-link:after {
      display: none;
    }
  }
}
