.ce__panel {
    overflow: hidden;
    @include nordea-transition(max-height, $animation-duration--leave, $easing--enter);
}

.ce__panel--open {
    @include nordea-transition(max-height, $animation-duration--enter, $easing--enter);
}
