/**
* @stylesheet _highlighted-tool.scss Highlighted tool
* @parent molecules
*
* @description
* <div class="doc-content">
* <p class="lead">The purpose of the highlighted tools is to give tools a prominent spot on the site as they play an important role in conversion, upselling, and branding.</p>
* </div>
*
* @demo demos/molecules/_highlighted-tool-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Deck
* * Icon
* * H2
*
* <br>
*
* #### Rules for use
*
* * The tool element can be used in two ways:
*   * **As a single tool** as a supplement to another element such as <u>[product USP](../styleguide/product-usp.html)</u>, <u>[Featured content](../styleguide/_featured-content.scss.html)</u>, <u>[subpage banners](../styleguide/sub-page-banner.html)</u>, and <u>[article elements](../styleguide/_article.scss.html)</u>. In this case only one at a time.
*   * **As a tool banner.** This isn’t floating along side other elements and can be between minimum 2 and maximum 4 tools. This version should only be used once on a page.
*
* <br>
*
* #### Design notes
* * Decks are hidden on mobile
* * The height of the single tool is adjusted on mobile so that it don’t take up too much space.
* * The tool banner is displayed as pivot on mobile
*
* </div>
*
**/

.highlighted-tool__banner {
  display: flex;
}

.highlighted-tool {
  height: auto;

  &--anchor {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    background: $nordea-blue;
    @include nordea-transition(background-color);

    .highlighted-tool:hover & {
      background-color: tint($nordea-blue, $hover-state-factor);
    }

    .highlighted-tool--single & {
      @include breakpoint(large) {
        .highlighted-tool__content {
          flex-direction: column;
          justify-content: center;
        }

        .highlighted-tool__icon {
          margin-right: 0;
          margin-bottom: rem-calc(11);
        }

        .highlighted-tool__headline {
          text-align: center;
        }
      }

      @include breakpoint(medium) {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
      }
    }
  }

  &__content {
    @include card--padding('small');
    display: flex;
    align-items: center;

    .highlighted-tool--single & {
      @include breakpoint(medium) {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__icon {
    margin-right: rem-calc(11);
    color: $white;
  }

  &__headline {
    margin-bottom: 0;
    color: $white;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &--single {
    margin-bottom: 2rem;
  }

  &__label {
    flex: 0 0 auto; // IE requires this in order to fix this issue:  When the deck is 2 lines the bottom line is too close to the blue box. Solution from https://stackoverflow.com/questions/41896398/nested-flexbox-height-issue-in-ie
  }
}
