/**
* @stylesheet _iconic-label.scss Iconic label
* @parent molecules
*
* @description
* A icon with a label.
*
* @demo demos/molecules/_iconic-label-demo.html
**/

.iconic-label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  color: $nordea-blue;
  text-align: center;
  text-decoration: none;

  .icon {
    margin-bottom: 1rem;
  }

  .iconic-label__text {
    margin-bottom: 0;
    width: 100%; // IE does not wrap the text without this property
  }

  &--deep-blue {
    color: $deep-blue;
  }

  &--white {
    color: $white;
  }
}

// Only iconic labels that are links should have hover effects
a.iconic-label {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $vivid-blue;

    .iconic-label__text {
      text-decoration: underline;
    }
  }
  &--deep-blue {
    &:hover {
      color: $nordea-blue;
    }
  }

  &--white {
    &:hover {
      color: rgba($white, 0.75);
    }
  }
}
