/**
* @stylesheet _modals.scss Modals
* @parent molecules
*
* @description
* A collection of various cards.
*
* @demo demos/molecules/_modals-demo.html
**/

.overlay {
  background-color: $white;

  @include breakpoint(medium) {
    background-color: $black;
    opacity: 0;
    animation: fadeinOverlay .25s forwards;
  }

  width: 100%;
  height: 100%;
  @include zindex('global', 'overlay');
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}

.has-overlay {
  overflow: hidden;
}

.overlay--animate-out {
  animation: fadeoutOverlay .25s forwards;
}

// CSS3 Animation don't work natively on IE9, adding opacity instead to show dark overlay.
.ie9 {
  .overlay {
    @include breakpoint(medium) {
      opacity: 0.9;
    }
  }
}

//Makes the .html version of the modal look like a page
.no-js {
  [role="dialog"] {
    position: relative;
    z-index: 0;
    background-color: $black;
  }
}

[role="dialog"] {
  position: fixed;
  padding-top: 5rem;
  @include zindex('global', 'modal');
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  left: 0;
  overflow: visible;

  &#modal-standalone {
    position: relative;
    z-index: 0;
    background-color: $white;
    @include breakpoint(medium) {
      background-color: $black;
    }
  }

  &[aria-hidden="false"] {
    display: block;
  }

  transform: scale(1);
  animation: blowUpModalMobile .25s $easing--enter forwards;
  overflow: auto;

  @include breakpoint(medium) {
    animation: blowUpModalDesktop .25s $easing--bounce forwards;
    padding-top: 7rem;
    left: 50%;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }

  .modal__container {
    max-width: 750px;
    margin: 0 auto;
  }

  .modal__header {
    color: $deep-blue;
    text-align: center;

    @include breakpoint(medium) {
      color: $white;
    }
  }
  padding-bottom: 8rem;

}

[role="dialog"].modal--animate-out {
  animation: blowOutModalMobile .25s $easing--enter forwards;
  @include breakpoint(medium) {
    animation: blowOutModalDesktop .25s $easing--bounce forwards;
  }
}

[role="document"] {
  background: $white;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  // To properly display modal content, without the white bands top and bottom,
  // we need to reset sections here.
  & > section {
    padding-top: 0;
    padding-bottom: 0;

    & > .row {
      padding-top: 2rem;
      padding-bottom: 2rem;

      @include breakpoint(medium) {
        padding-top: 4rem;
        padding-bottom: 4rem;
      }
    }
  }
}

[name=cancel] {
  background-color: $light-blue;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  padding: 0;
  color: $deep-blue;

  @include breakpoint(medium) {
    background-color: transparent;
    color: $white;
  }
}

@keyframes blowUpModalMobile {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes blowOutModalMobile {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(100%)
  }
}

@keyframes blowUpModalDesktop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowOutModalDesktop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}

@keyframes fadeinOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .85;
  }
}

@keyframes fadeoutOverlay {
  0% {
    opacity: .85;
  }
  100% {
    opacity: 0;
  }
}


