.social-icons {
    @extend %reset-list;
    text-align: right;

    li {
        display: inline-block;
        width:rem-calc(32);
        margin-left:rem-calc(10) !important;

        &:first-child {
            margin-left:0;
        }
        a {
            display: block;
        }
        svg {
            width:100%;
            height:auto;
        }
    }
}
