/**
* @stylesheet _sticky-contact.scss Sticky contact
* @parent molecules
*
* @description
* <div class="doc-content">
* <p class="lead">The sticky contact is used to ensure that the user always has a quick access to contacting Nordea.</p>
* </div>
*
* @demo demos/molecules/_sticky-contact-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Two buttons: 1 for chat and an optional contact touch point
*
* <br>
*
* #### Rules for use
*
* * It’s recommended it’s added to all pages to ensure consistency
* * It’s recommended that it’s the same contact touch points on all pages within a site.
*
* <br>
*
* #### Design notes
* * Opens up modal windows on click
* * Docks when reaching footer
* * Is under the main navigation when the main navigation is unfolded
* * Hidden on mobile
*
* </div>
*
**/

.sticky-contact {
  @include zindex('global', 'sticky-contact');
  position: absolute;
  top: -$navigation__height * 2;
  right: 0;
  flex-direction: column;
  will-change: transform;
  display: none;

  @include breakpoint(medium) {
    display: flex;
  }

  .button-ui {
    background: $light-blue;

    &:before {
      color: $deep-blue;
    }
  }
}

.sticky-contact--fixed {
  position: fixed;
  top: auto;
  bottom: 0;
  right: 0;
}
