/**
 * @stylesheet tabs.scss Tab element
 * @parent elements 7
 *
 * @description
 * <div class="doc-content">
 * <p class="lead">The faq/fact tab box is used to display large amount of text that might not be top of mind for the user ? eg. Legal information and in-depth information about a products. It is also used to structure FAQs under Get help.</p>
 * </div>
 *
 * @demo demos/elements/_tabs-demo.html
 *
 * @body
 * <div class="doc-content">
 *
 * #### Consist of
 *
 * * H2
 * * Tabs with text
 * * H3
 * * Lead paragraph (optional)
 * * H4 (optional)
 * * Text (optional)
 * * Inline links (optional)
 * * Block links (optional)
 * * Highlight box (optional)
 * * Button (optional)
 * * Highlighted phone number (optional)
 * * Lists (optional)
 * * ?Was this helpful? (optional and only for FAQs under Get help)
 *
 * <br>
 *
 * #### Rules for use
 *
 * * Shouldn?t be used for main content on the page
 * * Should be supplementary to the rest of the content on the page
 * * The background color should be used as contrast to surrounding elements. Thus if there is a white element before or after it should be shown without background. Default setting should be white as most elements have no background.
 *
 * <br>
 *
 * #### Design notes
 * * Becomes a closed accordion on mobile
 * * The height of the element varies depending of the content in the selected tab and pushes the rest of the content beneath down.
 * * To accommodate the WCAG requirement 2.4.7 ?Focus Visible: Any keyboard operable user interface has a mode of operation where the keyboard focus indicator is visible. (Level AA)? the default outline around focused areas isn?t hidden.
 * * View element in a template <a href="demos/pages/product-page.html">here</a>
 *
 * </div>
 *
 **/


.tabs {
  position: relative;
  @include breakpoint(medium) {
    padding: 2rem 0;
  }

  &__container {
    clear: both;
  }

  &__wrapper {
    overflow: hidden;
  }

  [role=tab] {
    @include nordea-transition(padding-left, $animation-duration--complex);

    width: 100%;
    display: inline-block;
    padding:rem-calc(16) rem-calc(20);
    margin-bottom: rem-calc(5);
    font-size:rem-calc(18);
    cursor: pointer;
    position: relative;
    color: $white;
    background-color: $deep-blue;
    font-weight: bold;
    @include breakpoint(medium){
      width: calc(100% - 30px);
      margin-bottom: 0;
      color: $deep-blue;
      background-color: $white;
    }

    .text {
      position: relative;
      z-index: 1;
    }

    &:after {
      @extend %icon-font;
      @extend .icon-angle-down:before;
      font-size: rem-calc(10);
      font-weight: bold;

      @include zindex('global', 'tabs');
      color: $white;
      vertical-align: middle;
      margin-left: 10px;
    }

    svg {
      display: none;
    }

    &[aria-selected=false] {
      @include breakpoint(medium) {
        &:after {
          content: '';
        }
      }
    }

    &[aria-selected=true] {
      @include breakpoint(small) {
        &:after {
          @extend %icon-font;
          @extend .icon-angle-up:before;
          font-size: rem-calc(10);
          font-weight: bold;
        }
      }

      @include breakpoint(medium) {
        &:after {
          display: none;
        }

        @include pointier-item($deep-blue);
        background-color: $deep-blue;
        color: $white;

        svg {
          display: block;
        }
      }

      @include breakpoint(large) {
        padding-left: 2rem;
        padding-right: 3.2rem;
      }
    }
  }

  [role=tabpanel] {
    @include breakpoint(medium) {
      @include grid-col(8);
      position: absolute;
      top:-0.5rem;
      right: 0;
    }

    &[aria-hidden="true"] {
      display: none;
    }

    &[aria-hidden="false"] {
      display: block;
    }
  }

}
