@import "../../../styleguide/_settings/colors";

.affordability-slider-wrapper {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
}

.affordability-slider-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-slider-thumb-container {
}

@mixin affordability-slider-color($color) {
  .mat-slider-track-fill {
    background-color: $color; /*deep*/
  }
  .mat-slider-thumb {
    background-color: $color; /*deep*/
  }

  .mat-slider-min-value {
    &.mat-slider-thumb-label-showing,
    &:not(.mat-slider-thumb-label-showing) {
      .mat-slider-thumb {
        background-color: $color;
        border-color: transparent;
      }
    }
  }

  .mat-slider-thumb-label {
    display: flex !important;
    background-color: transparent !important;
    opacity: 1 !important;
    margin-top: 3rem !important;
    transform: rotate(45deg)  !important;
    border-radius: 50% 50% 0 !important;
  }

  .mat-slider-thumb-label-text {
    color: $color;
    font-size: 0.8rem;
    opacity: 1;
    white-space: nowrap;
  }
}

::ng-deep{
  .affordability-slider-red {
    @include affordability-slider-color($accent-red-dark-bg)
  }

  .affordability-slider-green {
    @include affordability-slider-color($accent-green)
  }

  .affordability-slider-yellow {
    @include affordability-slider-color($accent-yellow)
  }
}
