<div class="affordability-slider-wrapper" [ngClass]="_sliderWrapperClass">
  <mat-slider [(ngModel)]="value" [min]="min" [max]="max" (input)="doChange($event)" [displayWith]="label"></mat-slider>
</div>
