/**
* @stylesheet _block-link.scss Block link
* @parent atoms 0
*
* @description
* paragraphs
*
*
* @demo demos/atoms/_block-links-demo.html
*
**/
.block-link {
    display: block;
    margin-left:rem-calc(-2);
    color:$nordea-blue;
    text-decoration:none;

    &:before {
        @extend %icon-font;
        @extend .icon-angle-right:before;
        position: relative;
        top:rem-calc(-1);
        margin-right:0.25rem;

        color:$medium-blue;
        //font-size:rem-calc(14);
        vertical-align: middle;
    }
}
