/**
* @stylesheet _blockqoute.scss Blockqoute
* @parent elements 1
*
* @description
* <div class="doc-content">
*
* <p class="lead">Blockquotes are used to highlight parts of the text and in that case the text snippet is also present in an article element.</p>
* <p class="lead">Block quotes can also be used to highlight a fact or the like.</p>
*
* </div>
*
* @demo demos/atoms/_blockqoute.html
* @body
* <div class="doc-content">
*
* #### Consist of
* * Paragraph of text
*
* <br>
*
* #### Design notes
* * The blockquote comes in two versions one with white background and smaller font size and one without backround with a larger font size.
* * View element in a template <a href="demos/pages/stepguide.html">here</a>
* </div>
**/

/* Developer notes
*  When in Tridion ICE the xslt (see resolveXhtmlWithLinks.xslt) doesn't translate the code when it's in editing mode.
*  That's why we have the same styling in two different files*.
*  So in ICE edit mode it's displayed as <span class="blockquote-big"> & <span class="blockquote-small">
*  and when done editing <blockquote> & <blockquote class="blockquote--solid">.
*
*  *Regarding styleguide\src\sass\atoms\_blockqoute.scss and dotxx2017\staging-ice\component-fixes\_typography.scss
*/
blockquote {
  @include getHeaderFontSize(h2);
  @include getHeaderLineHeight(h2);
  font-weight: bold;
  text-align: center;
  color: $deep-blue;

  &:before,
  &:after {
    line-height: 0;
    vertical-align: middle;
  }

  &.blockquote--solid {
    @include getHeaderFontSize(h5);
    padding: 2rem;
    line-height: $base-lineheight;
    background-color: $white;
    font-weight: normal;

    .section--white & {
      background-color: $white;
    }

    @include breakpoint(medium) {
      padding: 6rem;
    }

    &:before {
      margin-right: -.25rem;
    }

    &:after {
      margin-left: -.25rem;
    }
  }
}


