.block {
  background-color: $white;
  @include clearfix();

  @each $size, $grid-column-gut in $grid-column-gutter {
    @include breakpoint($size) {
      padding-left:$grid-column-gut;
      padding-right:$grid-column-gut;
    }
  }
}

.block--hidden {
  display: block;
}

.block-padding {
  background-color: $white;

  @each $size, $grid-column-gut in $grid-column-gutter {
    @include breakpoint($size) {
      padding:$grid-column-gut;
    }
  }
}

.block-padding--top {
  background-color: $white;

  @each $size, $grid-column-gut in $grid-column-gutter {
    @include breakpoint($size) {
      padding-top:$grid-column-gut;
    }
  }
}

.block-padding--bottom {
  background-color: $white;

  @each $size, $grid-column-gut in $grid-column-gutter {
    @include breakpoint($size) {
      padding-bottom:$grid-column-gut;
    }
  }
}

.block--light-blue {
  background-color: $light-blue;
}

.block--yellow {
  background-color: $accent-yellow;
}

.block--accent-red {
  background-color: $accent-red;
}

.block--hidden {
  display: none;
}

.block__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  text-align: center;
  left: 0;
  padding: 18px;
}
