/**
  * @stylesheet _buttons.scss Buttons
  * @parent atoms 0
  *
  * @description
  * Buttons have a very clear semantic meaning so if your element is a button, the button element (`button`, `input[type=submit]`) should be used. If you for some reason can't use a button element but need your element to behave like if it was a button, then `role=button` should be used. In all other cases a link is probably what you are looking for (with a class of `.button`).
  *
  * @demo demos/atoms/_buttons.html
  **/

button,
input[type='submit'],
input[type='reset'],
input[type='file'] + label,
[role='button'],
.button {
  //Native button reset
  // outline:none;
  box-shadow: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: none;

  position: relative;
  display: inline-block;
  overflow: hidden;

  padding: rem-calc(10) rem-calc(20);
  font-size: rem-calc(18);

  @include breakpoint(large) {
    padding: rem-calc(5) rem-calc(20);
    font-size: rem-calc(16);
  }

  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  border-radius: rem-calc(50);
  @include nordea-transition();

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    opacity: 0.6;
  }

  width: 100%;
  @include breakpoint(medium) {
    width: auto;
  }
}

//Native buttons
button,
input[type='submit'],
[role='button'],
.button {
  @include nordea-button();
}

[type='reset'] {
  @include nordea-button(transparent, $deep-blue);
}

.button--fullWidth {
  width: 100%;
  @include breakpoint(medium) {
    width: auto;
  }
}

.button__wrapper {
  margin-bottom: rem-calc(16);
}

@include generate-color-buttons();
@include generate-jumbotron-buttons();
