/**
* @stylesheet atoms/_card.scss Card
* @parent atoms 0
*
* @description
* Card is a square with solid background and padding. Uses the .card class or card mixin group.
*
* @demo demos/atoms/_card.html
**/

@mixin card() {
  position: relative;
};

@mixin card__background($color:$white) {
  background-color:$color;
}

@mixin card__padding($cardsize:'') {

  @each $size, $grid-column-gut in $grid-column-gutter {

    @include breakpoint($size) {

      padding:$grid-column-gut/2;

      .card {
        margin:$grid-column-gut/2 ($grid-column-gut/2 * -1) ($grid-column-gut/2 * -1);
      }

      .card__image {
        margin:($grid-column-gut/2 * -1) ($grid-column-gut/2 * -1) $grid-column-gut/2;
        width:calc(100% + #{$grid-column-gut});
        max-width: none;
      }

      @if $cardsize == 'large' {
        @include breakpoint(medium) {
          padding:($grid-column-gut - 10);

          .card {
            margin:($grid-column-gut - 10) (($grid-column-gut - 10) * -1) (($grid-column-gut - 10) * -1);
          }

          .card__image {
            margin:(($grid-column-gut - 10) * -1) (($grid-column-gut - 10) * -1) ($grid-column-gut - 10);
            width:calc(100% + #{($grid-column-gut - 10)*2});
            max-width: none;
          }
        }
      }
    }
  }
}

@mixin card__body() {
  @include clearfix();
  overflow: hidden;
}

@mixin card__action($dir:'', $size: '') {
  position: absolute;
  bottom:0;
  width:100%;
  transform: translateY(50%);

  @if $dir == 'left' {
    text-align: left;
    } @elseif $dir == 'right' {
      text-align: right;
      } @else {
        text-align: center;
        left:0;
      }
    }

    .card {
      @include card;
      @include card__padding('large');
      @include card__background();
      [role=button] {
        width: auto;
      }

      display: flex;
      flex-direction: column;

      p {
        //IE fix this element must have a height so images is scaled properly
        min-height: 1px;
      }
    }

    .card__header {
      display: flex;
      justify-content: space-between;
      margin: 0 0 1rem;

      h1,h2,h3,h4,h5,h6 {
        margin:0;
      }
    }

    .card__footer {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
    }

    .card__switch {
      margin-top:rem-calc(8);
    }

    .card--hightlighted{
      margin: 2rem 0;
      h4{
        margin: 0 !important;
      }
      p{
        margin: 0;
      }
    }

    .card--nordea-blue {
      @include card__background($nordea-blue);
    }

    .card--light-blue {
      @include card__background($cloud-blue);
    }

    .card--dark-grey {
      @include card__background($dark-gray);
    }


    .card--small {
      @include card__padding('small');
    }

    .card--margin-bottom {
      margin-bottom:2rem;
      @include breakpoint(medium){
        min-height: rem-calc(310);
      }
    }

    .card--margin-bottom--action {
      margin-bottom:4rem;
      @include breakpoint(medium){
        min-height: rem-calc(310);
      }
    }


    .card--expandable-content {
      max-height:rem-calc(330);
      overflow: hidden;

      @include breakpoint(medium) {
        max-height:rem-calc(400);
      }

      &:before {
        position: absolute;
        left:0;
        bottom:1rem;
        width:100%;
        height:8rem;
        background:blue;
        background:linear-gradient(transparent, $white 80%);
        content:'';
        pointer-events: none;
      }

      &.ce__panel--open {
        &:before {
          display: none;
        }
      }

      & + .ce__toggle--open {
        .chevron:before {
          @extend .icon-angle-up:before;
        }
      }
    }
