
/**
  * @stylesheet _chevrons.scss Chevron
  * @parent atoms 0
  *
  * @description
  * Chevrons are used for triggering a directional action.
  *
  * @demo demos/atoms/_chevrons.html
  **/
.chevron {
    position: relative;
    display: inline-block;
    width:rem-calc(50);
    height:rem-calc(50);
    padding:0;

    background-color:$nordea-blue;
    border-radius: 50%;

    &:before {
        @extend %icon-font;
        @extend .icon-angle-down:before;
        position: relative;
        width:100%;
        display: inline-block;

        font-size:rem-calc(20);
        text-align: center;
        color:$nordea-pink;
    }
}

.chevron--up:before {
    @extend .icon-angle-up:before;
}

.chevron--down:before {
    @extend .icon-angle-down:before;
    top:rem-calc(2);
}

.chevron--left:before {
    @extend .icon-angle-left:before;
    top:rem-calc(1);
    right:rem-calc(1);
}

.chevron--right:before {
    @extend .icon-angle-right:before;
    top:rem-calc(1);
    left:rem-calc(1);
}
