/**
  * @stylesheet atoms/_embed.scss Embed
  * @parent atoms 0
  *
  * @description
  * Use a "div" tag with the .embed class when doing embeds.
  *
  * @demo demos/atoms/_embeds.html
  **/

.embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 1rem;
}

.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
