/**
* @stylesheet _headings.scss Headings
* @parent atoms 1
*
* @description
* The HTML heading element has a clear semantic meaning that should be
* considered. Using the correct headings structure will in most cases create a
* clear and understandable hierarchy.
*
* Each of the heading sizes also exist as a class (including each breakpoint).
* This means you can vary the size of your heading to mimick different types of
* headings dependant on the breakpoint. `<h2 class="large-h3">Header</h2>` would for example create a h2 header that * has the apperance of an h3 when viewed in the large view.
*
* @demo demos/atoms/_headings.html
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: $font-headline-margin;
  color: $deep-blue;
}

@include getHeadings();
