//Helpers
.text-center {
    text-align: center;
}

.text-right{
    text-align: right;
}

.float-right{
    float: right;
}

.has-lines {
  text-align: center;

    .has-lines__text {
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-top: 1px solid $nordea-blue;
            top: 10px;
            width: 600px;
        }

        &:before {
          margin-right: 1.5rem;
          right: 100%;
        }

        &:after {
            margin-left:1.5rem;
            left: 100%;
        }
    }
}

.pretext{
    margin-bottom:0;
}
