/**
  * @stylesheet _icon-squares.scss Icon squares
  * @parent atoms 1
  *
  * @description
  * Icon in colored squares
  *
  * @demo demos/atoms/_icon-square.html
  **/

$icon-size--large : 6rem;
$icon-size--medium : 4rem;
$icon-size--small : 2rem;

@mixin icon--size($size:$icon-size--large) {
    width:$size;
    height:$size;

    &:before {
        display: block;
        font-size:$size/2.5;
        line-height: $size;
        text-align: center;
    }
}

@mixin icon--color($bg:$nordea-blue,$color:$white) {
    background:$bg;
    color:$color;
}

.icon-square {
    @include icon--size;
    @include icon--color;

    .featured-content-block__image &{
      position: absolute;
      bottom: 0;
      z-index:1;
    }
}

.icon-square--medium {
    @include icon--size($icon-size--medium);
}

.icon-square--small {
    @include icon--size($icon-size--small);
}

//Colors
.icon--nordea-blue {
    @include icon--color;
}
.icon--accent-green {
    @include icon--color($accent-green, $nordea-blue);
}
.icon--light-blue {
    @include icon--color($light-blue);
}
