@font-face {
	font-family: "iconfont";
	src: url("../assets/fonts/iconfont.eot?33a214458d206a95bfa524fbe25dd345?#iefix") format("embedded-opentype"),
url("../assets/fonts/iconfont.woff2?33a214458d206a95bfa524fbe25dd345") format("woff2"),
url("../assets/fonts/iconfont.woff?33a214458d206a95bfa524fbe25dd345") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon {
	line-height: 1;
}

[class^="icon-"], [class*=" icon-"], %icon-font {
  font-family: 'iconfont';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
    display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-agreement:before { content: "\f101";}
.icon-alt-phone:before { content: "\f102";}
.icon-angle-down:before { content: "\f103";}
.icon-angle-left:before { content: "\f104";}
.icon-angle-right:before { content: "\f105";}
.icon-angle-up:before { content: "\f106";}
.icon-apartment:before { content: "\f107";}
.icon-bank-id:before { content: "\f108";}
.icon-block-credit-card:before { content: "\f109";}
.icon-boat-loan:before { content: "\f10a";}
.icon-budget-calc:before { content: "\f10b";}
.icon-calc-small:before { content: "\f10c";}
.icon-calc:before { content: "\f10d";}
.icon-calendar-small:before { content: "\f10e";}
.icon-calendar:before { content: "\f10f";}
.icon-call-back:before { content: "\f110";}
.icon-car:before { content: "\f111";}
.icon-cash:before { content: "\f112";}
.icon-chat:before { content: "\f113";}
.icon-checkmark-small:before { content: "\f114";}
.icon-checkmark:before { content: "\f115";}
.icon-conditional-approval:before { content: "\f116";}
.icon-contacts:before { content: "\f117";}
.icon-credit-card:before { content: "\f118";}
.icon-cross-small:before { content: "\f119";}
.icon-cross:before { content: "\f11a";}
.icon-customer-programs:before { content: "\f11b";}
.icon-dialogue:before { content: "\f11c";}
.icon-dismiss-filled:before { content: "\f11d";}
.icon-dismiss:before { content: "\f11e";}
.icon-download:before { content: "\f11f";}
.icon-dreams:before { content: "\f120";}
.icon-envelope:before { content: "\f121";}
.icon-find-us:before { content: "\f122";}
.icon-help:before { content: "\f123";}
.icon-home-basic:before { content: "\f124";}
.icon-home-elaborate:before { content: "\f125";}
.icon-house-loan:before { content: "\f126";}
.icon-insurance:before { content: "\f127";}
.icon-international:before { content: "\f128";}
.icon-investment:before { content: "\f129";}
.icon-key:before { content: "\f12a";}
.icon-laptop-netbank:before { content: "\f12b";}
.icon-link-arrow-small:before { content: "\f12c";}
.icon-link-arrow:before { content: "\f12d";}
.icon-liqidity-management:before { content: "\f12e";}
.icon-loan:before { content: "\f12f";}
.icon-lock:before { content: "\f130";}
.icon-login-small:before { content: "\f131";}
.icon-mail-filled:before { content: "\f132";}
.icon-mail:before { content: "\f133";}
.icon-new-business:before { content: "\f134";}
.icon-online-meeting:before { content: "\f135";}
.icon-pension:before { content: "\f136";}
.icon-person:before { content: "\f137";}
.icon-phone-small:before { content: "\f138";}
.icon-phone:before { content: "\f139";}
.icon-play-small:before { content: "\f13a";}
.icon-play:before { content: "\f13b";}
.icon-price-info:before { content: "\f13c";}
.icon-question-mark:before { content: "\f13d";}
.icon-question-small:before { content: "\f13e";}
.icon-related:before { content: "\f13f";}
.icon-risk-management:before { content: "\f140";}
.icon-savings:before { content: "\f141";}
.icon-search-small:before { content: "\f142";}
.icon-search:before { content: "\f143";}
.icon-secure:before { content: "\f144";}
.icon-star:before { content: "\f145";}
.icon-student-loan:before { content: "\f146";}
.icon-thumbs-down:before { content: "\f147";}
.icon-thumbs-up:before { content: "\f148";}
.icon-times-circle-filled:before { content: "\f149";}
.icon-times-circle:before { content: "\f14a";}
.icon-tools-helpers:before { content: "\f14b";}
.icon-travel-credit:before { content: "\f14c";}
.icon-vacation-home:before { content: "\f14d";}
.icon-wallet:before { content: "\f14e";}

.icon-xxlarge {
    font-size:rem-calc(85);
}

.icon-xlarge {
    font-size:rem-calc(60);
}

.icon-large {
    font-size:rem-calc(45);
}

.icon-medium {
    font-size:rem-calc(30);
}
