/**
* @stylesheet atoms/_lists.scss Lists
* @parent atoms 1
*
* @description
* Lists styles. Use the .reset-list class to reset lists.
*
*
* @demo demos/atoms/_lists.html
*
**/

ul,ol {
  margin:0;
  padding:0;
  list-style:none;

  ol,ul {
    margin:0;
  }

  li {
    position: relative;
    padding-left:1rem;
    margin-bottom:1rem;

    &:before {
      position: absolute;
      top:0;
      left:0;
      color:inherit;
    }
  }
}

ol {
  counter-reset: num;

  li {
    margin-left: -0.5rem;
    padding-left: 2rem;
    &:before {
      font-weight: bold;
      counter-increment: num;
      content: counter(num) ". ";
      color:$nordea-blue;
      width: 1.5rem;
      text-align: right;
    }

    ol li {
     &:before {
       content: counters(num) ". ";
     }
   }
 }
}

ul {
  li {
    position:relative;

    &:before {
      top:rem-calc(9);
      width:rem-calc(6px);
      height:rem-calc(6px);

      background-color:$nordea-blue;
      border-radius:50%;
      content:'';
    }
  }
}

dl {
  margin:0;

  dd,dt {
    padding:0;
    margin: 0;
  }

  dt {
    color:$deep-blue;
  }

  dd {
    margin-bottom: 1rem;
  }
}


//List modifiers
.list--arrow,
.list--checkmark {
  li:before {
    @extend %icon-font;

    top:rem-calc(4px);
    width:initial;
    height:initial;

    font-size:rem-calc(16);
    vertical-align: middle;

    border-radius:initial;
    background: none;
  }

}

.list--arrow {
  margin-left:rem-calc(-3);
}

.list--arrow li {
  padding-left:rem-calc(20);
  margin-left:rem-calc(-2);

  &:before {
    @extend .icon-angle-right:before;
  }
}

.list--arrow-light-blue {

    li:before {
        color:$light-blue;
    }
}

.list--checkmark li {
  padding-left:rem-calc(25);

  &:before {
    @extend .icon-checkmark-small:before;
  }
}

.list--nordea-blue li,
.list--nordea-blue li a {

    color:$nordea-blue;
    text-decoration: none;
}

.list--white {
    li,
    li a {
        color:$white;
        text-decoration: none;
    }
}

.list--large {
    font-size: rem-calc(18);
    @include breakpoint(large) {
        @include getHeaderFontSize(h5);
    }

    li {
        @include breakpoint(large) {
            padding-left:rem-calc(35);
        }
    }
    li:before {
        @include breakpoint(large) {
            top:rem-calc(11);
            font-size: rem-calc(22);
            width:rem-calc(12);
            height:rem-calc(12);
        }
    }
}

.list--simple{
  margin-bottom: 1.5rem;
  li{
    margin-bottom: 0;
    &:before{
      font-weight: normal;
    }
  }
}

//Utils
.reset-list, %reset-list {
  list-style: none;

  li, dt, dd {
    margin:0;
    padding:0;

    &:before {
      display:none;
      color:inherit;
      top: initial;
      left: initial;
      width: initial;
      height: initial;
      background: transparent;
      position: initial;
    }
  }
}
