/**
* @stylesheet _paragraph.scss Paragraph
* @parent atoms
*
* @description
* paragraphs
*
*
* @demo demos/atoms/_paragraphs-demo.html
*
**/
p {
  margin: 0 0 1rem;
}

.sub-header {
  margin: 0 0 1rem;

  @include getHeaderFontSize(h4);
  font-weight: bold;
  line-height: $headline-line-height;
  color: $nordea-blue;

  @include breakpoint(medium) {
    margin: -0.5rem 0 1rem;
  }
}

.lead {
  font-size: rem-calc(18);
  line-height: 1.4;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    font-size: rem-calc(22);
  }
}
