body {

  &.lock-scroll {
    @include breakpoint($navigation__breakpoint) {
      overflow-y: hidden;
    }
  }
}

.section {
  padding: 1.5rem 0;
  clear: both;

  @include breakpoint(medium) {
    padding: 2rem 0;
  }
}

.section--align-bottom {
  padding-top:5rem;

  @include breakpoint(medium) {
    padding-top:6rem;
  }
}

.section--small {
  padding: 1.5rem 0;
}

.section--no-bottom {
  padding: 1.5rem 0 0 0;

  @include breakpoint(medium) {
    padding: 2rem 0 0 0;
  }
}

.section--pull-up {
  padding: 1.5rem 0;

  @include breakpoint(medium) {
    padding: 0 0 4rem 0;
    margin-top:-4rem;
  }
}

.section--white {
  background-color: $white;
}

.section--light-blue {
  background-color: $light-blue;
}

.section--nordea-blue {
  background-color: $nordea-blue;
}


.section--offset-background {
  position: relative;
}

.section__offset-background-image {
  display: none;


  @include breakpoint(large) {
    position: absolute;
    overflow: hidden;
    top:0;
    left:50%;
    width:50%;
    display: block;
    z-index:-1;
  }
}
