/**
* @stylesheet _tables.scss Tables
* @parent atoms
*
* @description
*  <div class="doc-content">
*  <p class="lead">The tables are used to display tabular data</p>
*  </div>
*
* @demo demos/atoms/_tables.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Column header and/or row header
* * A number of rows
* * A number of columns
*
* <br>
*
* #### Rules for use
*
* * Tables displayed in a legal/facts module shouldn’t have more than 4 columns due to the width of the content part of the module.
* * Table headers should never be empty. This is particularly of concern for the top-left cell of some tables.
*
* <br>
*
* #### Design notes
*
* * The table has zebra stripes on desktop
* * On mobile the first column's header and cells are combined
*
* <br>
*
* #### Accessibility notes
* First of all it is very important to stress that tables are only used to display tabular data and not to layout elements.
*
* Tables are one of the things that meets some difficulties when it comes to accessibility, mainly because it is not always logical how a screen reader should go about reading a table (is it left to right or top to bottom, for example). The order in which content is presented can affect its meaning.
*
* Therefore it can be a good idea to
*   1.  add a <caption> just after the opening table-tag that indicates the content of that table
*   2.  designate row and/or column headers
*   3.  Associate the data cells with the appropriate headers by using scope attributes
*
* Se more here: <a href="http://webaim.org/techniques/tables/data">http://webaim.org/techniques/tables/data</a>
*
* </div>
*
**/

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}

caption {
  @extend h5;
  text-align: left;
}

th,
td {
  padding: rem-calc(10) rem-calc(7);
  text-align: left;
  border: none;

  &:first-child {
    text-align: left;
  }
}

th {
  text-transform: uppercase;
  color: $deep-blue;
  font-weight: bold;
}

thead {
  background: $light-blue;
  border-bottom: 1px solid $light-blue;
}

tbody {
  tr {
    border-bottom: 1px solid $light-background;
    background: $white;

    @include breakpoint(medium) {
      &:nth-child(even) {
        background: $light-background;
      }
    }
  }
}

.small-only {
  @include show-for-only(small);
}

.large-only {
  @include show-for(medium);
}

.reset-table {
  tbody {
    tr:nth-child(even) {
      background: transparent;
    }
  }

  thead {
    border-bottom: none;
  }
}
