/**
* @stylesheet _text-elements.scss Text elements
* @parent atoms
*
* Showcasing different text styles
*
* @demo demos/atoms/_text-elements-demo.html
*/

a {
  @include nordea-transition(color);
  color: $deep-blue;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: $vivid-blue;
    text-decoration: underline;
  }

  &:not([href]) {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
  }

  &.remove-default-link,
  &.inline-link {
    text-decoration: none;
    color: inherit;
  }

  & .trumpet,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $vivid-blue;
    }
  }

  &.inline-link {
    &:hover {
      text-decoration: underline;
      h1 &,
      h2 &,
      h3 &,
      h4 &,
      h5 &,
      h6 & {
        color: $vivid-blue;
      }
    }
  }
}

b,
strong {
  font-family: $font-family-main;
  font-weight: bold;
}

small {
  font-size: rem-calc(16);
}

mark {
  background-color: $nordea-blue;
  padding: 0 rem-calc(10);
  color: $white;
}

hr {
  margin: $font-headline-margin;
  height: 1px;
  border-width: 0;
  background: $nordea-blue;
}

code {
  padding: rem-calc(1) rem-calc(5);
  background-color: $light-gray;
  border: 1px solid $medium-gray;
  border-radius: 4px;
}

.trumpet {
  font-family: $font-family-main;
  font-size: rem-calc(16);
  font-weight: normal;
  color: $deep-blue;
  margin-bottom: 0.5rem;
}

/*.trumpet--small {
    font-size:rem-calc(14);
    }*/
