.button-ui {

    //Reset button style
    padding:0;
    border-radius: 0;
    background-color:initial;
    display: inline-block;
    border: none;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        background-color:initial;
    }

    width:$navigation__height;
    height:$navigation__height;

    &:before {
        font-size:rem-calc(24);
        color:$nordea-blue;
    }
}

a.button-ui {
    text-align: center;
    text-decoration: none;
    padding: rem-calc(10);
}

.button-ui--transparent {
    background-color: transparent;
}

.button-ui--white-text {
    &:before {
        color:$white;
    }
}

.button-ui--nordea-blue {
    background-color:$nordea-blue;
    color:$white;
    &:hover,
    &:active,
    &:focus {
        color:$white;
        background-color:$nordea-blue;
        box-shadow: none;
    }

    &:before {
        color:$white;
    }
}

.button-ui--rounded {
    border-radius:4px;
}

.button-ui--small {
    width:$navigation__height/1.5;
    height:$navigation__height/1.5;

    &:before {
        font-size:rem-calc(20);
    }
}

.button-ui--icon-large {
    &:before {
        font-size:rem-calc(34);
    }
}
.button-ui--icon-xlarge {
    width: $navigation__height*1.2;
    &:before {
        font-size:rem-calc(50);
    }
}

.button-ui--with-label {
    width:auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .button-ui__label {

        margin-right:rem-calc(10);
        font-size:1rem;
        color:$nordea-blue;
    }

    .button-ui__icon {

        &:before {
            color:$nordea-blue;
            font-size:rem-calc(24);
        }
    }
}


//Button ui utils
.button-ui-row {
    display: flex;

    .button-ui {
        margin:0 0.75rem;

        &:first-child {
            margin-left:0;
        }

        &:last-child {
            margin-right:0;
        }
    }
}

.button-ui-row--small {
    .button-ui {
        margin:0 0.25rem;
    }
}
