/**
  * @stylesheet _animation.scss Animation
  * @parent general 1
  *
  * @description
  * The animation used on Nordea.xx should guide the user focus, without making the user wait. Animation should highlight interactions and guide the user between states.
  *
  * @demo demos/atoms/_animation.html
  **/

$animation-duration--tester : 1;
$animation-duration--leave : 135ms * $animation-duration--tester;
$animation-duration--enter : 265ms * $animation-duration--tester;
$animation-duration : 265ms * $animation-duration--tester;
$animation-duration--complex : 430ms * $animation-duration--tester;

$easing:cubic-bezier(0.4, 0.0, 0.2, 1);
$easing--enter: cubic-bezier(0.0, 0.0, 0.2, 1);
$easing--leave: cubic-bezier(0.4, 0.0, 1, 1);
$easing--return:cubic-bezier(0.4, 0.0, 0.6, 1);
$easing--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

$hover-state-factor : 12%;
