/**
* @stylesheet _colors.scss Colors
* @parent general 1
*
* @description
* Define the colors
*
* @body
* <div class="swatches" id="demo">
* <h4>Nordea Blue Colors</h4>
* <ul class="swatches-list reset-list reset-list">
*   <li>
*     <span class="swatch-color deep-blue">#00005e</span>
*     <code>$deep-blue</code>
*   </li>
*   <li>
*     <span class="swatch-color nordea-blue">#0000a0</span>
*     <code>$nordea-blue</code>
*   </li>
*   <li>
*     <span class="swatch-color vivid-blue">#0000ff</span>
*     <code>$vivid-blue</code>
*   </li>
*   <li>
*     <span class="swatch-color medium-blue">#3399ff</span>
*     <code>$medium-blue</code>
*   </li>
*   <li>
*     <span class="swatch-color light-blue">#99ccff</span>
*     <code>$light-blue</code>
*   </li>
* </ul>
*
* <h4>Nordea Pink Colors</h4>
* <ul class="swatches-list reset-list">
*   <li>
*     <span class="swatch-color dark-pink">#f0c1ae</span>
*     <code>$dark-pink</code>
*   </li>
*   <li>
*     <span class="swatch-color nordea-pink">#fbd9ca</span>
*     <code>$nordea-pink</code>
*   </li>
*   <li>
*     <span class="swatch-color light-pink">#fdece4</span>
*     <code>$light-pink</code>
*   </li>
* </ul>
*
* <h4>Nordea Background color</h4>
* <ul class="swatches-list reset-list">
*   <li>
*     <span class="swatch-color light-background">#e5f2ff</span>
*     <code>$light-background</code>
*   </li>
*   <li>
* </ul>
*
* <h4>Nordea Gray colors</h4>
* <ul class="swatches-list reset-list">
*   <li>
*     <span class="swatch-color dark-gray">#474748</span>
*     <code>$dark-gray</code>
*   </li>
*   <li>
*     <span class="swatch-color nordea-gray">#8b8a8d</span>
*     <code>$nordea-gray</code>
*   </li>
*   <li>
*     <span class="swatch-color medium-gray">#c9c7c7</span>
*     <code>$medium-gray</code>
*   </li>
*   <li>
*     <span class="swatch-color light-gray">#e6e4e3</span>
*     <code>$light-gray</code>
*   </li>
* </ul>
*
* <h4>Nordea Accent Colors</h4>
* <ul class="swatches-list reset-list">
*   <li>
*     <span class="swatch-color accent-red">#ff5959</span>
*     <code>$accent-red</code>
*   </li>
*   <li>
*     <span class="swatch-color accent-yellow">#ffe183</span>
*     <code>$accent-yellow</code>
*   </li>
*   <li>
*     <span class="swatch-color accent-green">#40bfa3</span>
*     <code>$accent-green</code>
*   </li>
* </ul>
*
* <h4>Black & White</h4>
* <ul class="swatches-list reset-list">
*   <li>
*     <span class="swatch-color black">#000000</span>
*     <code>$black</code>
*   </li>
*   <li>
*     <span class="swatch-color white">#ffffff</span>
*     <code>$white</code>
*   </li>
* </ul>
* </div>
*
**/

$deep-blue: #00005e;
$nordea-blue: #00019f;
$vivid-blue: #0000ff;
$medium-blue: #3399ff;
$light-blue: #a6d1ff;
$cloud-blue: #dcedff;

$dark-pink: #f0c1ae;
$nordea-pink: #fbd9ca;
$light-pink: #fdece4;

$light-background: #e5f2ff;

$dark-gray: #474748;
$nordea-gray: #8b8a8d;
$medium-gray: #c9c7c7;
$light-gray: #e6e4e3;
$gothenburg-gray: #f4f2f1;

$accent-red: #e70404;
$accent-yellow: #ffcf3d;
$accent-green: #008040;


$accent-red-dark-bg: #ff5959;
$accent-yellow-dark-bg: #ffe183;
$accent-green-dark-bg: #40bfa3;

$black: #000;
$white: #fcfcfc;
