@import '../_plugins/foundation/util/util';

$global-font-size: 100%;
$global-width-px : 1140px;
$global-width: rem-calc($global-width-px);

$breakpoints: (
  small : 0,
  medium: 640px,
  large: 920px,
  xlarge: 1200px,
  xxlarge: 1440px
);

$navigation__breakpoint : rem-calc(1025);

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 32px,
  large: 40px
);

$grid-column-align-edge: false;
$block-grid-max: 8;


$navigation__height: rem-calc(54);
