/**
* @stylesheet _settings/_typography.scss Fonts
* @parent general 2
*
* @description
<div class="doc-content">
    <p>Based on the Branding Guidelines Arial should be used as fallback font, if the browser for some reason won't be able to download and use the unique Nordea font.</p>
</div>
<section class="section">
<div class="row row--margin">
    <div class="large-12 columns">
        <h3>Nordea sans large</h3>
        <p><b>font-family:</b> NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif</p>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Black</h4>
        <p><b>font-weight:</b> 900</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus cumque ad odit vero dolore error molestias obcaecati est impedit deleniti nam perspiciatis delectus sed, nemo voluptas quis repudiandae sunt quos..</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:900;">
            <h1 style="text-transform: none;font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:900;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Bold</h4>
        <p><b>font-weight:</b> 700</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde fugit, pariatur autem, voluptate vel voluptas expedita placeat provident quidem, doloremque, fuga aliquid possimus debitis ut earum ab ipsa reiciendis nobis!.</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:700;">
            <h1 style="text-transform: none;font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:700;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-12 columns">
        <h3>Nordea sans large Medium</h3>
        <p><b>font-family:</b> NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif</p>
    </div>
</div>

<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Medium</h4>
        <p><b>font-weight:</b> 500</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempore quam voluptas ducimus quis temporibus, necessitatibus vero, velit provident soluta a cumque dolor et delectus voluptatum alias aut, minus quibusdam..</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:500;">
            <h1 style="text-transform: none;font-family: NordeaSansLarge, NordeaSansSmall, Arial,'Helvetica Neue', Helvetica, sans-serif;font-weight:500;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-12 columns">
        <h3>Nordea sans small</h3>
        <p><b>font-family:</b> NordeaSansSmall, Arial, "Helvetica Neue", Helvetica, sans-serif</p>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Light</h4>
        <p><b>font-weight:</b> 300</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quia tempora dicta odit, eius iure, deserunt quae non ab iste nisi reiciendis at voluptate animi, dolorem quo, sapiente itaque qui?.</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:300;">
            <h1 style="text-transform: none;font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:300;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Light</h4>
        <p><b>font-weight:</b> 300</p>
        <p><b>font-style:</b> italic</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:300;font-style:italic;">
            <h1 style="text-transform: none;font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:300;font-size:4rem;font-style:italic;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Regular</h4>
        <p><b>font-weight:</b> normal</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quia tempora dicta odit, eius iure, deserunt quae non ab iste nisi reiciendis at voluptate animi, dolorem quo, sapiente itaque qui?.</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:normal;">
            <h1 style="text-transform: none;font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:normal;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
<div class="row row--margin">
    <div class="large-6 columns">
        <h4>Bold</h4>
        <p><b>font-weight:</b> bold</p>
        <p>Description of use Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, labore nulla dignissimos aliquid ex magni veritatis atque error quae ipsam repellat magnam, accusamus excepturi itaque perspiciatis, similique doloremque necessitatibus sit..</p>
    </div>
    <div class="large-6 columns">
        <div style="font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:bold;">
            <h1 style="text-transform: none;font-family: NordeaSansSmall, Arial, 'Helvetica Neue', Helvetica, sans-serif;font-weight:bold;font-size:4rem;">Aa</h1>
            <p> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
                a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
                0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
</div>
</section>
*
**/

@mixin fontface(
  $name,
  $path,
  $weight,
  $style: normal,
  $cacheBuster: random(999999999)
) {
  @font-face {
    src: url('#{$path}.woff2?v=#{$cacheBuster}') format('woff2'),
      /* Super modern browsers */ url('#{$path}.woff?v= #{$cacheBuster}')
        format('woff'); /* Modern browsers */
    font-family: $name;
    font-weight: $weight;
    font-style: $style;
  }
}

$fontpath: '../assets/fonts';

$fonts: (
  (
    'NordeaSansLarge',
    '#{$fontpath}/NordeaSansLarge/NordeaSansLarge-Medium',
    bold
  ),
  (
    'NordeaSansLarge',
    '#{$fontpath}/NordeaSansLarge/NordeaSansLarge-Regular',
    normal
  ),
  (
    'NordeaSansSmall',
    '#{$fontpath}/NordeaSansSmall/NordeaSansSmall-Medium',
    bold
  ),
  (
    'NordeaSansSmall',
    '#{$fontpath}/NordeaSansSmall/NordeaSansSmall-Regular',
    normal
  )
);

@each $name, $path, $weight, $style in $fonts {
  @include fontface($name, $path, $weight, $style);
}

$font-fallback: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$font-family-main: NordeaSansSmall, #{$font-fallback};
$font-family-headline: NordeaSansLarge, NordeaSansSmall, #{$font-fallback};

$base-size: (small: 16px);

$base-lineheight: 1.6;
$headline-line-height: 1.2;
$headline-line-height--small: 1.075;

$font-headline-margin: 0 0 1rem;
$font-headline-margin--article: 2rem 0 1rem;

$typography-breakpoints: small, medium, large;

$header-lineheight: (
  small:
    (
      'h1': $headline-line-height--small,
      'h2': $headline-line-height,
      'h3': $headline-line-height,
      'h4': $headline-line-height,
      'h5': $headline-line-height,
      'h6': $headline-line-height
    ),
  medium:
    (
      'h1': $headline-line-height--small,
      'h2': $headline-line-height--small,
      'h3': $headline-line-height,
      'h4': $headline-line-height,
      'h5': $headline-line-height,
      'h6': $headline-line-height
    ),
  large:
    (
      'h1': $headline-line-height--small,
      'h2': $headline-line-height--small,
      'h3': $headline-line-height,
      'h4': $headline-line-height,
      'h5': $headline-line-height,
      'h6': $headline-line-height
    )
);

$header-font: (
  small:
    (
      'h1': $font-family-headline,
      'h2': $font-family-headline,
      'h3': $font-family-headline,
      'h4': $font-family-headline,
      'h5': $font-family-headline,
      'h6': $font-family-main
    ),
  medium:
    (
      'h1': $font-family-headline,
      'h2': $font-family-headline,
      'h3': $font-family-headline,
      'h4': $font-family-headline,
      'h5': $font-family-headline,
      'h6': $font-family-main
    ),
  large:
    (
      'h1': $font-family-headline,
      'h2': $font-family-headline,
      'h3': $font-family-headline,
      'h4': $font-family-headline,
      'h5': $font-family-headline,
      'h6': $font-family-main
    )
);

$header-weight: (
  small:
    ('h1': bold, 'h2': bold, 'h3': bold, 'h4': bold, 'h5': bold, 'h6': bold),
  medium:
    ('h1': bold, 'h2': bold, 'h3': bold, 'h4': bold, 'h5': bold, 'h6': bold),
  large:
    ('h1': bold, 'h2': bold, 'h3': bold, 'h4': bold, 'h5': bold, 'h6': bold)
);

$header-size: (
  small:
    (
      'h1': rem-calc(24),
      'h2': rem-calc(23),
      'h3': rem-calc(22),
      'h4': rem-calc(22),
      'h5': rem-calc(22),
      'h6': rem-calc(16)
    ),
  medium:
    (
      'h1': rem-calc(32),
      'h2': rem-calc(28),
      'h3': rem-calc(24),
      'h4': rem-calc(23),
      'h5': rem-calc(22),
      'h6': rem-calc(16)
    ),
  large:
    (
      'h1': rem-calc(40),
      'h2': rem-calc(30),
      'h3': rem-calc(28),
      'h4': rem-calc(27),
      'h5': rem-calc(22),
      'h6': rem-calc(16)
    )
);
