/**
* @stylesheet _article.scss Article elements
* @parent elements 1
*
* @description
* <div class="doc-content">
*
* <p class="lead">The article elements are used for longer paragraphs of text and can be used on both article pages and other subpages.</p>
*
* </div>
*
* @demo demos/elements/_article-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * H2 (optional)
* * Lead paragraph (optional)
* * H3 (optional)
* * H4 (optional)
* * Paragraph of text
* * Bullets (optional)
* * Block link (optional)
*
* <br>
*
* #### Rules for use
*
* * If the element has a headline it has to start with an H2
* * It's important to keep the heading hierarchy in mind when using this element.
* * If used on an article page consider stacking article elements instead of using just one as this makes it easier to keep the right hierarchy.
*
* <br>
*
* #### Design notes
* * When used in an article page type the element is placed in the middle 6 columns in a 12 column grid.
* * View element in a template <a href="demos/pages/stepguide.html">here</a>
* </div>
*
**/
.article {
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin: $font-headline-margin--article;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: $nordea-blue;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;

    // Padding is added to take account for the
    // fixed menu, when using page-anchors.
    padding-top: $navigation__height;
  }

  // We need to preserve the margin for articles in tabs
  .tabs & {
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      margin: $font-headline-margin--article;
    }
  }

  blockquote {
    margin: 3rem 0 4rem;
  }

  img {
    margin-bottom: rem-calc(6);
    margin-top: rem-calc(6);
  }

  img[style*='left'] {
    margin-right: rem-calc(16);
  }

  img[style*='right'] {
    margin-left: rem-calc(16);
  }

  @include grid-column(12);
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    @include grid-column(10);
  }

  @include breakpoint(large) {
    margin-bottom: 0;
    @include grid-column(8);
  }

  .tabs & {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .jumbotron & {
    @include grid-column(12);

    @include breakpoint(large) {
      @include grid-column(6);
    }
  }
}
