/**
* @stylesheet _contact.scss Contact banner
* @parent elements 1
*
* @description
* <div class="doc-content">
* <p class="lead">The contact banner gives the user easy access to contact touch points consistently throughout the site.</p>
* </div>
*
* @demo demos/elements/_contact-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * H2
* * Large phone number (optional)
* * Icons (link)
* * Label (link
* * Fold down link (optional)
* * Paragraph text to show on fold down (optional)
* * H3 to be used in fold down (optional)
*
* <br>
*
* #### Rules for use
*
* * Has to consist of a minimum of 3 and a maximum of 6 contact touch points
* * Icons has to be consistent with other contact icons across the site
* * Always situated just above footer
* * The fold down is used to tell about rush hours and opening hours
*
* <br>
*
* #### Design notes
* * Wraps on mobile
* * View element in a template <a href="demos/pages/front-page.html">here</a>
*
* </div>
*
**/

.contact {
  background-color: $cloud-blue;
}

.contact__container {
  @include flex-grid-row();
  @include flex-grid-column;
}

.contact__header {
  text-align: center;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // In IE11, text will overflow the container unless forced to be 100%
  > *  {
    width: 100%;
  }

  @include breakpoint(medium) {
    flex-basis: 40%;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
  }

  .h5 {
    font-weight: normal;
  }
}

.contact__phonenumber {
  font-weight: normal;
}

.contact__list {
  @extend %reset-list;
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  flex-wrap: wrap;

  @include breakpoint(small down) {
    margin-top: 1rem;
  }

  @include breakpoint(medium) {
    flex-basis: 60%;
  }

  @include breakpoint(large) {
    margin-top: 2rem;
  }
}

.contact__icon {
  @include grid-column(6);
  margin-bottom: 2rem !important;

  @include breakpoint(large) {
    @include grid-column(3);
  }
}
