/**
* @stylesheet _featured-content.scss Featured content
* @parent elements 2
*
* @description
* <div class="doc-content">
*
* <p class="lead">The purpose of the featured content elements is to tease for other content around the site.<br>
* The featured content elements are used to send the user to both product- and guide/knowledge oriented pages.<br>
* The element is used for both featured and related content.</p>
*
* </div>
**/


/**
* @styles 0.featured-content-small 100%
*
* @description
*
* @demo demos/elements/_featured-content-demo.html
*/


/**
* @styles 1.featured-content-small 66% / 33%
*
* @description
*
* @demo demos/elements/_related-content-demo.html
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Deck
* * Image
* * Header
* * Paragraph of text (only on the 100% banner)
* * CTA text (only on the 100% banner)
*
* <br>
*
* #### Rules for use
*
* * Can be used on all page types
* * Can be used in different ways with other featured content elements in these combinations:
*
*   * 66/33% or 33%/66%
*   * 33/33/33%
* * One 66% or two 33% can be used together with other elements with a 1 column width e.g.
*
*   * the Twitter feed
*   * a tool
*
* <br>
*
* #### Design notes
* * The 100 % has parallax on scroll (can be seen on a page)
* * Image enlarges on hover on 33% and 66%
* * Links to page via click on either deck, image or headline
* * For the 100% version on mobile, the text is displayed beneath the image
* * 66/33% will stack on mobile
* * 33/33/33% will pivot on mobile
* * All decks are tagged with p
* * All headers are tagged with H2
* * View element in a template <a href="demos/pages/product-page.html">here</a>
* </div>
*/

.featured-content-block {
    position: relative;
    margin-bottom:2rem;

    a{
        text-decoration: none;
    }
    &:hover,
    &:active {

        p,
        h2,
        h3{
            text-decoration: underline;
            color: $vivid-blue;
            @include nordea-transition(color);
        }
    }

    h2,
    .trumpet {
        @include nordea-transition(color, $animation-duration, $easing);
    }
    h2 {
        //max-width:rem-calc(520);
        max-width: rem-calc(620);
    }
}

.featured-content-block__image {
    overflow: hidden;
    margin:0 0 1rem;
    position: relative;

    .featured-content-block__image-container {
        position: relative;
        width:100%;
        height:0;
        padding-bottom:56.25%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: top left;

        img {
            position: absolute;
            top:0;
            left:0;
            width:100%;
        }
    }
}
