/**
* @stylesheet _footer.scss Footer
* @parent elements 2
*
* @description
* The footer element ends every page with some useful links
*
* View element in a template <a href="demos/pages/front-page.html">here</a>
*
* @demo demos/elements/_footer-demo.html
**/

.footer {
  position: relative;
  background: $deep-blue;

  h2 {
    color: $white;
    font-weight: normal;
    font-size: rem-calc(18);

    @include breakpoint(medium) {
      text-transform: uppercase;
      margin-bottom: rem-calc(24);
    }

    &:after {
      @extend %icon-font;
      @extend .icon-angle-down:before;
      font-size: rem-calc(10);
      margin-left: 7px;
      font-weight: bold;

      @include breakpoint(medium) {
        display: none;
        cursor: initial;
      }
    }
  }

  .ce__toggle--open h2 {
    &:after {
      @extend .icon-angle-up:before;
    }
  }

  .select-wrapper {
    margin-bottom: 1rem;

    &:before {
      color: $white;
    }
  }

  select {
    padding-left: 0;
    color: $white;
    height: 1.625rem;
  }

  .link-column__list {
    @extend .reset-list;

    li {
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }

  .ce__toggle {
    cursor: pointer;

    @include breakpoint(medium) {
      cursor: default;
    }
  }

  .ce__panel {
    max-height: 0;
    padding-left: 1rem;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      max-height: none !important;
      overflow: visible;
      padding-left: 0;
    }
  }

  .footer__legal-links {
    @extend %reset-list;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }

    li {
      display: inline-block;
      margin: 0 1rem;
      @include breakpoint(medium) {
        margin: 0 2rem 0 0;
        float: left;
      }

      a {
        color: $light-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer__meta {
  .row {
    display: flex;
    align-items: center;

    @include breakpoint(small only) {
      flex-direction: column-reverse;
      text-align: center;
    }
  }

  p {
    margin: 0;
  }

  .social-icons {
    @include breakpoint(small only) {
      text-align: center;
      margin-bottom: 15px;
    }

    img {
      height: 100%;
    }
  }
}
