/**
* @stylesheet _highlighted-cta.scss Highlighted Cta
* @parent elements 3
*
* @description
* <div class="doc-content">
* <p class="lead">The highlighted CTAs are used for highlighting either applying for a product, contact Nordea, book meeting, or sending users to FAQs.</p>
* </div>
*
* @demo demos/elements/_highlighted-cta-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Icon (Optional)
* * Header
* * Paragraph of text (optional)
* * CTA
*
* <br>
*
* #### Rules for use
*
* * Is NOT to be used for featured content or tools
* * Do not have two in a row
* * The icons for contact should be equivalent to those in the contact banner
* * Be consistent with the use of icons across the sites
*
* <br>
*
* #### Design notes
* * On mobile the paragraph of text is hidden
*
* </div>
*
**/

.highlighted-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  .highlighted-cta__content {
    @include grid-column(12);

    h2 {
      text-align: center;

      @include breakpoint(medium) {
        text-align: left;
      }
    }
  }

  p {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }
  }

  @include breakpoint(medium) {
    max-width: rem-calc(540);
    flex-direction: row;
    align-items: stretch;
  }

  .icon {
    margin-bottom: 1rem;
    @include round-icon(large, $white, $deep-blue);
  }
}
