.jumbotron {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.jumbotron__background {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  background-color: $light-gray;

  @include breakpoint(medium) {
    margin-bottom: 0rem;
    padding-bottom: 85%;
  }

  @include breakpoint(large) {
    min-height: rem-calc(550);
    max-height: rem-calc(800);
    height: calc(100vh - #{$navigation__height*4});
    padding-bottom: 0;
  }

  img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: none;
    width: 100%;
    transform-origin: 50% top;
    will-change: transform;

    @include breakpoint(medium) {
      right: auto;
    }

    .no-js & {
      visibility: visible;
    }
  }
}

.jumbotron__content {
  position: relative;
  top: 0;
  transform: translateX(0);
  margin-top: 2rem;
  @include breakpoint(large) {
    min-height: rem-calc(290);
  }

  .product-usp & {
    @include breakpoint(medium) {
      min-height: 325px;
    }

    .list--checkmark {
      li:before {
        color: $nordea-blue;
      }
    }
  }

  .trumpet {
    text-transform: uppercase;
    font-size: rem-calc(18);
  }

  a & {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    .h1,
    .trumpet {
      &:hover {
        text-decoration: none;
        color: $vivid-blue;
      }
    }
  }

  @include breakpoint(medium) {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    transform: translateY(-50%);

    &--dark {
      .breadcrumb .block-link,
      p,
      h1,
      .h1 {
        color: $white;
      }

      .breadcrumb .block-link:after {
        color: $light-background;
      }
    }
  }
}

.jumbotron--pull-up-content {
  @include breakpoint(large) {
    margin-top: -$navigation__height;
    padding-top: $navigation__height;
  }

  .jumbotron__content {
    @include breakpoint(medium) {
      transform: translateY(-65%);
    }
  }
}

// If we have a prompt, we need to reset the "pull-up-under-the-navigation" thing on the jumbotron
main > .prompt ~ .jumbotron--pull-up-content {
  @include breakpoint(large) {
    margin-top: 0;
    padding-top: 0;
  }
}

.jumbotron--content-controlled {
  .jumbotron__background {
    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .jumbotron__content {
    @include breakpoint(medium) {
      position: relative;
      top: 0;
      transform: translateY(0%);
      padding: 2rem 0;
    }

    @include breakpoint(large) {
      padding: 4rem 0;
    }

    @include breakpoint(xxlarge) {
      padding: 6rem 0;
    }

    .lead {
      margin-bottom: 1rem;
    }

    .button__wrapper {
      margin-top: 2rem;
    }
  }

  &.jumbotron--pull-up-content .jumbotron__content {
    @include breakpoint(medium) {
      padding: 2rem 0 6rem;
    }

    @include breakpoint(large) {
      padding: 4rem 0 8rem;
    }

    @include breakpoint(xxlarge) {
      padding: 6rem 0 8rem;
    }
  }
}
