/**
* @stylesheet _link-banners.scss Short-cuts
* @parent elements 6
*
* @description
* <div class="doc-content">
*
* <p class="lead">The element is used to give the user at gate way to certain products and pages</p>
*
* </div>
*
* @demo demos/elements/_link-banner-demo.html
*
* @body
* <div class="doc-content">
*
* #### Consist of
*
* * Maximum 7 shortcuts
* * Link to page (max two lines – approx. 30 characters incl. space)
* * Icon
* * Dividing line
*
* <br>
*
* #### Rules for use
*
* * It’s highly recommended they are only used on the front pages, category pages, and Get help to add consistency and recognisability to the user.
* * On front pages it is used for shortcuts to most important products and services  e.g. determined with statistics or by business importance (and not tools, articles, etc).
* * On category pages it used to display shut cuts to the the subpages under the category page. On your life category pages it could either guide front pages or theme pages. On Our services category pages it will be all the subjacent product category pages. Since it has to be used for subpages, all the 3rd level subpages in the main navigation should be present in the element. And thus max 7 as mentioned under Navigation.
* * On Get help it is used to show the top 4 FAQs or to highlight e.g. seasonally important topics.
*
* <br>
*
* #### Design notes
* * The items are centered on the page (desktop)
* * Will be shown as pivot on mobile
* * View element in a template <a href="demos/pages/front-page.html">here</a>
*
* </div>
*
**/

.link-banner {
  @extend .reset-list;
  display: flex;

  @include breakpoint(medium down) {
    padding-top: rem-calc(6px);
  }

  @include breakpoint(large) {
    justify-content: center;
  }
}

.link-banner__item {
  width: 150px;

  @include breakpoint(large) {
    width: (100% / 7);
  }

  .icon {
    @include round-icon();
  }

  &.swiper-slide {
    height: auto;
  }
}
