.top-products {
  padding: 0;
}

.top-products__content {
  @include card__padding('large');
  @include breakpoint(medium) {
    min-height: rem-calc(260);
  }
}

.top-products__image-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  img {
    width: 100%;
    margin: 0;
  }
}

.product-teasers {
  flex-wrap: wrap;
  & .columns {
    .card {
      margin-bottom: 2rem;
      @include breakpoint(medium) {
        width: 100%;
        display: block; //if we don't set this to display:block, it will get display:flex which is messing up the layout in IE
      }
    }
  }
  @include items-in-a-row(2);
  @include breakpoint(large) {
    @include items-in-a-row(3);
  }
  &.four-items-in-a-row {
    @include breakpoint(large) {
      @include items-in-a-row(4);
    }
  }
  @include breakpoint(medium) {
    display: flex;
    & .columns {
      display: flex;
    }
  }
  @include breakpoint(medium only) {
    & .columns {
      width: 50%;
    }
  }

  .remove-default-link {
    color: $nordea-blue;
    font-weight: bold;
  }

  p:last-of-type {
    margin-bottom: map-get($grid-column-gutter, large);
  }

  margin-bottom: 2rem;

  &.card--margin-bottom--action {
    margin-bottom: 4rem;
  }
}
