.usp-banner {

    @include breakpoint(medium) {
        display: flex;
    }
}

.usp-banner__compartments {
    display: flex;
    align-items: flex-end;

    ul {
        margin-bottom:1rem;
        @include breakpoint(medium) {
            margin-bottom:2rem;
        }
    }
}
