.static-menu__settings {
  justify-content: flex-start;
  display: flex;
  height: auto;
  position: relative;
  right: 0;
  top: 0;
  margin-top: 1rem;

  & a {
    text-decoration: none;
  }

  .line-separator {
    padding-left: 5px;
    padding-right: 5px;
  }

  @include breakpoint(medium) {
    position: absolute;
    right: 2rem;
    justify-content: flex-end;
  }

  @include breakpoint(large) {
    position: relative;
    right: 0rem;
  }
}