.static-menu__container {
  margin-bottom: 1rem;

  @include breakpoint(large) {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
  }
}

.static-menu__branding {
  flex: 1;
}

.static-menu__content {
  flex: 5;
  flex-direction: column;
  display: flex;
  margin-right: 0;

  @include breakpoint(large) {
    margin-right: 7.75rem;
    padding-bottom: 0.5rem;
    align-items: center;
  }
}

.static-menu__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  span {
    margin-right: 0.5rem;
  }

  @include breakpoint(large) {
    flex-direction: row;
  }
}

