<h6 class="padding-margin-bottom--0">{{data.description}}</h6>
<span class="text--small" *ngIf="data.subDescription" [innerHTML]="data.subDescription"></span>
<div mat-dialog-content>
  <div class="form__input form__input--prefixed">
    <label for="inputValue"></label>
    <div class="form__field-wrapper" data-prefix="">
      <input inputmode="numeric" pattern="[0-9]*" (keypress)="digitsOnly($event)" id="inputValue" type="number" [(ngModel)]="data.selectedValue" placeholder="" [min]="data.min" [max]="data.max">
    </div>
    <div class="error-message hide absolute"></div>
  </div>
</div>
<div mat-dialog-actions>
  <button class="button--green" [mat-dialog-close]="data.selectedValue">{{'sliderModalSetValueButton' | replaceLabel}}</button>
</div>
