<div class="row">
  <div class="columns small-6">
    <h6 class="padding-margin-bottom--0">{{description}}&nbsp;&nbsp;
      <span *ngIf="toolTipText" style="cursor: pointer"
            title="{{toolTipText}}"
            [hjTooltip]="toolTipText"
            [hjTooltipPosition]="HjTooltipPosition.ABOVE"
            #tooltip="hjTooltip"
            (click)="toggleTooltip(tooltip)"
            class="icon-small icon-help"></span>
    </h6>
  </div>
  <div class="columns small-6 text-right">
    <p class =" padding-margin-bottom--0">
      <span *ngIf="editModeEnabled"><span (click)="openDialog()" class="icon-small icon-tools-helpers"></span>&nbsp;&nbsp;</span>
      <span>{{selectedValue | numberAmount:0}}&nbsp;{{postFix}}</span>&nbsp;
      <span *ngIf="resetButtonEnabled" ngClass="icon-times-circle" (click)="onResetClick($event)"></span>
    </p>
  </div>
  <span class="columns text--small" *ngIf="subDescription" [innerHTML]="subDescription"></span>
</div>
<div class="row">
  <div class="columns small-12">
    <input type="range" class="hjSlider" [ngClass]="progressClass"
           [(ngModel)]="sliderValue" (ngModelChange)="onSliderModelChange()" min="{{min}}" max="{{max}}" step="{{step}}"
           (change)="onChange($event)"/>
  </div>
</div>
<br/>
