@import "../../../styleguide/_settings/colors";

/* chrome */
@mixin slide-progress-list {
  @for $i from 1 through 100 {
    .slide-progress-#{$i}::-webkit-slider-runnable-track {
      background-image: -webkit-gradient(linear, left top, right top, color-stop($i/100, #2f466b), color-stop($i/100, #d3d3db))
    }
  }
}

@include slide-progress-list;

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-progress-value {
  background-color: $deep-blue;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid ;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $deep-blue;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/*firefox*/
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: $light-gray;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-progress {
  background-color: $deep-blue;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $deep-blue;
  cursor: pointer;
}

/* ie */
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid $deep-blue;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: $deep-blue;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: $deep-blue;
}
input[type=range]:focus::-ms-fill-upper {
  background: $light-gray;
}
