@import "../../../styleguide/_settings/colors";

input[type=checkbox].switch:checked + label:before, input[type=checkbox].switch:checked + label:after {
  background-color: $accent-green;
}

input[type=checkbox].switch:checked + label {
  background: $accent-green-dark-bg;
}

input[type=checkbox].switch + label {
  background: #fcfcfc;
}

input[type=checkbox].switch + label:before, input[type=checkbox].switch + label:after {
  background: #8b8a8d;
}

.noMarginBottom {
  margin-bottom: 0;
}

:host {
  margin-left: 1rem;
  margin-right: 1rem;
}
