@import "../../../styleguide/_settings/colors";

.dot {
  height: 14px;
  width: 14px;
  margin: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: $deep-blue;
  display: inline-block;
}

.active-route{
  background-color: $deep-blue;
}
