.bookmark-target {
  position: absolute;
  margin-top: -($navigation__height + rem-calc(4));
}

.faq-category {
  margin-top: -2rem;

  .section:first-of-type & {
    margin-top: 0;
  }

  dt {
    display: flex;
    @extend .h6;
    cursor: pointer;

    &:before {
      margin-top: 0.3rem;
    }
    &:after {
      @extend .icon-angle-down:before;
      font-size: 0.7rem;
      padding: 0.3rem 0 0 0.5rem;

      font-family: 'iconfont';
    }
  }
}

.faq__nav {
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
