.private-banking {
  button,
  input[type=submit],
  [role=button],
  .button {
    @include nordea-button($pb-dark-blue, $pb-light-gray);
  }

  .button-ui--transparent {
    background-color: transparent;
  }

  .button-ui--with-label .button-ui__label {
    color: $pb-dark-blue;
  }

  .button-ui--with-label .button-ui__icon:before {
    color: $pb-dark-blue;
  }

  @include generate-color-buttons();
  @include generate-jumbotron-buttons($pb-dark-blue, $pb-light-gray);
}
