$pb-background-color: #e9e6e5;
$pb-dark-blue: #000040;
$pb-dark-blue-80: transparentize($pb-dark-blue, 0.2); // 80%
$pb-less-dark-blue: rgb(28, 28, 78);
$pb-dark-pink: #f0c1af;
$pb-light-gray: #e6e4e3;
$pb-steel-gray: #e7e7e7;
$pb-black-15: rgb(85%, 85%, 85%);
