.private-banking {
  .contact {
    background-color: $white;

    .contact__phonenumber {
      a {
        color: $pb-dark-blue;
      }
    }

    .contact .ce__toggle {
      color: $pb-dark-blue;

      &:hover {
        color: $pb-dark-blue;
      }
    }
  }
}
