.private-banking {
  .footer {
    background-color: $pb-dark-blue;
    h2 {
      color: $medium-gray;
    }

    select {
      color: $medium-gray;
    }

    .list--white li, .list--white li a {
      color: $medium-gray;
    }

    .list--arrow-light-blue li:before {
      color: $medium-gray;
    }
  }

  .footer__legal-links li a {
    color: $medium-gray;
  }

  .footer__meta p {
    color: $pb-dark-blue;
  }
}
