.private-banking {
  .form-wrapper {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=date],
    input[type=time],
    input[type=datalist],
    textarea,
    select {
      background-color: $light-gray;
      color: $dark-gray;
      &:focus {
        outline: 3px solid $pb-dark-blue;
      }
      &[aria-invalid="true"] {
        outline-color: $form__errorcolor;
        &:focus {
          outline-color: $form__errorcolor;
        }
      }
    }
  }

  .section:not(.section--white) .form-wrapper:not(.form--onpage) {
    background: transparent;

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=date],
    input[type=time],
    input[type=datalist],
    textarea,
    select {
      background-color: $white;
      color: $dark-gray;
    }
  }

  .form--onpage {
    background: $white;
  }

  legend {
    color: $pb-dark-blue;
  }

  .progressbar-app__item--current:after,
  .progressbar-app__item--completed:after {
    background-color: $pb-dark-blue;
    border-color: $pb-dark-blue;
  }

  .progressbar-app__item--hover:after {
    background-color: $pb-dark-blue;
    border-color: $pb-dark-blue;
  }

  .tooltip__icon {
    color: $pb-dark-blue;
    border-color: $pb-dark-blue;
  }

  .tooltip__container {
    background: $pb-dark-blue;

    &:after {
      border-top-color: $pb-dark-blue;
    }

    a {
      color: $white;
    }
  }

  input[type=radio], input[type=checkbox] {
    &:checked {
      &:checked + label:before {
        border-color: $pb-dark-blue;
        background: $pb-dark-blue;
      }
    }
  }
}
