.private-banking {
  .highlighted-tool__wrapper {
    background: $pb-dark-blue;
  }

  .highlighted-tool:hover {
    .highlighted-tool__wrapper {
      background-color: tint($pb-dark-blue, $hover-state-factor);
    }
  }

  .highlighted-tool__icon {
    color: $pb-steel-gray;
  }
  .highlighted-tool__headline {
    color: $pb-steel-gray;
  }
}
