.login-open.private-banking .nav .nav__button--login {
  background-color: $pb-dark-blue;
  color: white;
}

.private-banking .nav {
  .nav-top {
    background: white;
  }

  nav {
    @include breakpoint(medium down) {
      background-color: $pb-dark-blue;
    }
  }

  .site-sections a {
    color: black;
    &.active:before {
      background-color: $pb-dark-blue; // bar above selected page
    }
  }

  .language-selector {
    select,
    .select-wrapper:before {
      color: $pb-dark-blue;
    }
  }

  .nav__button {
    color: $pb-dark-blue;
    background-color: $pb-steel-gray;
    border-color: $pb-steel-gray;
    border-style: inherit;
    border-width: inherit;

    &--menu {
      background-color: white;
    }

    &:hover .hamburger__line,
    .hamburger__line {
      background-color: $pb-dark-blue;
    }

    @include breakpoint(large) {
      &--search {
        background-color: $pb-dark-blue;
        color: $pb-steel-gray;
      }
    }
  }

  .login-menu {
    color: $pb-dark-blue;
    background-color: $pb-steel-gray;

    .login-links-list {
      background-color: $pb-black-15;
      @include breakpoint(large) {
        background-color: transparent;
        a {
          font-weight: bold;
        }
      }
    }

    h2, h3, a {
      color: $pb-dark-blue;
    }

    // The two login buttons needs to change colors
    .button--white {
      @include nordea-button($pb-dark-blue, $pb-steel-gray);
    }

    .button--light-blue {
      @include nordea-button($pb-dark-blue, $pb-dark-pink);
    }
  }

  // Bottom row of the navigation
  .nav-bottom {
    background-color: $pb-dark-blue-80;
    color: $pb-steel-gray;

    .site-sections {
      background-color: $pb-black-15;
    }

    .menu__categories-item.active {
      @include breakpoint(large) {
        > a {
          color: $pb-dark-blue;
          background-color: $pb-dark-pink;
          @include pointier-item($pb-dark-pink, 20px);
        }
      }
    }

    .menu__wrapper {
      background-color: $pb-dark-blue;

      @include breakpoint(large) {
        background-color: transparent;
      }

      a {
        color: $pb-steel-gray;
        &:after {
          color: $pb-steel-gray;
        }
      }

      .menu__categories-item {
        background-color: $pb-dark-blue;
      }
    }

    @include breakpoint(large) {
      .menu__item--group-title {
        color: $pb-steel-gray;
      }
    }

    .site-sections {
      p, a {
        color: $pb-dark-blue;
      }
    }

    .menu__sections {
      @include breakpoint(large) {
        & > .active,
        & > .menu__item--section--active,
        & > .menu__item--section--active.active {
          & > a {
            &:before {
              background: $white;
            }
          }
        }
      }
    }

    .menu__categories-item,
    .menu__categories-item.active {
      > p, > p:after {
        color: $pb-steel-gray;
        background-color: $pb-less-dark-blue;
      }
    }

    @include breakpoint(large) {
      .menu__categories-item {
        > p, > p:before, > p:after {
          background-color: $pb-dark-blue;
        }

        &.active {
          > p, > p:before, > p:after {
            color: $pb-dark-blue;
            background-color: $pb-dark-pink;
          }
        }
      }
    }

    .menu__submenu {
      @include breakpoint(medium down) {
        background-color: $pb-less-dark-blue;
      }

      @include breakpoint(large) {
        background-color: transparent;
        a, p {
          color: $pb-steel-gray;
        }
      }
    }

    @include breakpoint(large) {
      .menu__tools-item a > span {
        background: $pb-steel-gray;
        color: $pb-dark-blue;
      }
    }

    .active a:before {
      background-color: $pb-steel-gray;
    }

    .menu__submenu--panel:before {
      background-color: $pb-dark-blue;
    }

    .language-selector__list {
      background-color: white;

      a {
        color: $pb-dark-blue;
      }
    }

    .search-menu {
      background: $pb-dark-blue;
    }
  }
}
