@import 'colors';

body.private-banking {
  color: $pb-dark-blue;
  background-color: $pb-background-color;
}

.private-banking {
  // Changes the color of the logo
  .st0,
  .navigation--active .st0 {
    fill: $pb-dark-blue;
  }

  @include breakpoint(large) {
    &.navigation--docked {
      .st0,
      .navigation--active .st0 {
        fill: white;
      }
    }
  }

  a {
    color: $nordea-blue;
  }

  ul li:before {
    background-color: $pb-dark-blue;
  }

  //List modifiers
  .list--arrow,
  .list--checkmark {
    li:before {
      background: none;
    }
  }

  .section--nordea-blue {
    background-color: $pb-dark-blue;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  caption,
  .h5,
  h6,
  .h6,
  .contentCards h3,
  .contentCards h4,
  .contentCards h5,
  .contentCards h6,
  .contentCards caption,
  .lead {
    color: $pb-dark-blue;
    a {
      color: inherit;
    }
  }

  .contentCards {
    .contentCards__list,
    .contentCards__list--small,
    .h3 ~ ul,
    .h3 ~ ol,
    .h4 ~ ul,
    .h4 ~ ol,
    .h5 ~ ul,
    .caption ~ ul,
    .h5 ~ ol,
    .caption ~ ol,
    .h6 ~ ul,
    .h6 ~ ol {
      li::before {
        background-color: $pb-dark-blue;
      }
    }
  }

  .product-teaser {
    .block-link,
    .inline-link {
      color: $pb-dark-blue;
    }
  }

  @include breakpoint(medium) {
    [role='dialog'] .modal__header {
      color: $white;
    }
  }

  .block-link:before {
    color: $pb-dark-blue;
  }

  .trumpet {
    color: $pb-dark-blue;
  }

  .breadcrumb {
    .block-link {
      color: $pb-dark-blue;

      &:after {
        color: $pb-dark-blue;
      }
    }
  }

  .highlighted-cta .icon {
    color: $pb-dark-blue;
  }

  .section--light-blue {
    background-color: $pb-dark-pink;
  }

  .list--nordea-blue li,
  .list--nordea-blue li a {
    color: $pb-dark-blue;
  }

  .list--arrow-light-blue li:before {
    color: $pb-dark-blue;
  }

  @media screen and (min-width: 40em) {
    .jumbotron__content--dark .block-link,
    .jumbotron__content--dark .lead,
    .jumbotron__content--dark h1,
    .jumbotron__content--dark .h1 {
      color: #fff;
    }
  }

  // Search
  .search__form input[type='search'] {
    color: $dark-gray;
  }

  .search__form:before {
    color: $pb-dark-blue;
  }

  // Contact banner
  .contact .ce__toggle {
    color: $pb-dark-blue;
  }

  .has-lines .has-lines__text:before,
  .has-lines .has-lines__text:after {
    border-top-color: $pb-dark-blue;
  }

  // Blockquotes
  blockquote {
    color: $pb-dark-blue;
  }

  // Tables
  .section--white thead,
  thead {
    background: $dark-pink;
    border-bottom-color: $dark-pink;
  }

  @include breakpoint(medium) {
    tbody tr:nth-child(even),
    .section--white tbody tr:nth-child(even) {
      background: $nordea-pink !important;
    }
  }

  tbody tr,
  .section--white tbody tr {
    border-bottom: 1px solid $nordea-pink;
  }

  // Tabs
  [role='tab'] {
    background-color: $pb-dark-blue;
    color: $medium-gray !important;
    @include breakpoint(medium) {
      color: $pb-dark-blue !important;
      background-color: $white;
    }
  }
  @include breakpoint(medium) {
    [role='tab'][aria-selected='true'] {
      color: $medium-gray !important;
      background-color: $pb-dark-blue;

      path {
        fill: $pb-dark-blue;
      }
    }

    .section--white [role='tab'] {
      border-color: $light-gray;
    }
  }

  .iconic-label {
    color: $pb-dark-blue;

    &:hover {
      color: $pb-dark-blue;
    }
  }
}

@import './footer';
@import './contactbanner';
@import './forms';
@import './nav';
@import './buttons';
@import './sticky-contact';
@import './step-navigator';
@import './highlighted-tool';
@import './shortcuts';
