.private-banking {
  .shortcuts {
    background: $pb-dark-blue;

    .iconic-label {
      color: $pb-steel-gray;
    }
  }

  .link-banner__item {
    .icon {
      background: $pb-steel-gray;
    }
  }
}
