.private-banking .step__navigator {
  ul {
    .step__line {
      background-color: $pb-dark-blue;
    }

    .step__icon {
      background-color: $pb-dark-blue;
      border-color: $pb-dark-blue;
    }

    .step--active {
      .step__icon {
        background-color: $white;
        color: $pb-dark-blue;
      }
    }
  }
}
