$icon-size: rem-calc(28);
$active-icon-size: rem-calc(28 * 1.5);

.step__navigator {
  overflow: hidden;
  counter-reset: step;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    list-style-type: none;

    .step {
      padding: 0 0 25px 0;
      position: relative;

      &:before {
        display: none;
      }

      a {
        text-decoration: none;
      }

      @include breakpoint(large) {
        flex: 1;
      }
    }

    .step__line {
      position: absolute;
      bottom: 12.5px;
      width: 100%;
      height: rem-calc(2);
      content: '';
      background-color: $nordea-blue;
      z-index: 0;
    }

    .step__title {
      text-overflow: ellipsis;
      text-align: center;
      padding: 0 16px;
    }

    .step__icon {
      width: $icon-size;
      height: $icon-size;
      position: absolute;
      bottom: -1px;
      left: calc(50% - 14px);
      border: 2px solid $nordea-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $nordea-blue;
      color: $white;

      &:after {
        content: counter(step);
        counter-increment: step;
      }
    }

    .step--active {
      .step__icon {
        width: $active-icon-size;
        height: $active-icon-size;
        background-color: $white;
        color: $nordea-blue;
        font-weight: bold;
        margin-bottom: rem-calc(-7);
        margin-left: rem-calc(-7);
      }
    }
  }

  //overwrites some styles used to pivot
  .swiper-slide {
    padding: 0 0 25px 0;
    height: auto;
  }

  .steps--less-than-four {
    flex: 1;
  }

  .steps--over-three {
    @include breakpoint(medium down) {
      width: 33%;
      flex: none;
    }
  }

  @include breakpoint(large) {
    overflow: visible;
  }
}

.step__cta {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-align: center;

    @include breakpoint(medium up) {
      min-width: 250px;
    }
  }
}
