<!-- BUDGET BREAKDOWN -->
<div class="row small-12 text-center expenses gray-border-bottom">
  <h6 style="color: #0a0a0a; padding-top: 5%; text-align:center">{{'expenses' | replaceLabel}}</h6>
</div>
  <div class="columns small-12 label white-background gray-border-bottom" style="padding-left:0; padding-right: 0" *ngFor="let expenseGroup of dashboard.expenseGroups; let i = index">
    <div style="padding-top: 1em;" (click)="openExpenseGroup(expenseGroup)"> <!--ngIf="i<limit"-->
      <div class="columns small-6">
        <h6 class="padding-margin-bottom--0">{{expenseGroup.groupType | replaceLabel}}</h6>
        <span style="font-size:10px">{{getDescription(expenseGroup)}}</span>
      </div>
      <div class="columns small-4">
        <p style="color: #0a0a0a; text-align:center"> {{ expenseGroup.totalAmount | numberAmount:0}} {{('currency' + dashboard.currency) | replaceLabel}}</p>
      </div>
      <div class="columns small-2 ">
        <span [ngClass]="dashboard.currentlyOpenedElement == expenseGroup ? 'icon-angle-up' : 'icon-angle-down'" style="padding-bottom: 2rem; margin-left: 2%"></span>
      </div>
    </div>
    <div *ngIf="dashboard.currentlyOpenedElement == expenseGroup">
      <div class="columns small-12" style="margin-top: 4%">
        <div *ngFor="let expense of dashboard.currentlyOpenedElement.expenses; let x = index">
          <hj-value-slider description="{{expense.category | replaceLabel}}"
                           [(ngModel)]="expense.amount"
                           [max]="getSliderMaxValue(expenseGroup.groupType, expense.category)" postFix="{{('currency' + dashboard.currency) | replaceLabel}}">
          </hj-value-slider>
        </div>
      </div>
      <div>
        <button style="background-color: #40bfa3; width: 35%; border: none; margin: 9%; padding: 3%" (click)="onSaveExpenseGroup(expenseGroup)">{{'save' | replaceLabel}}</button>
        <button style="width: 35%; background-color: white; color: #00005e; padding: 2%" (click)="onCancelExpenseGroup(expenseGroup)">{{'cancel' | replaceLabel}}</button>
      </div>
    </div>
  </div>
