<div *ngIf="isVisible" class="help-container">
  <div class="affordability-circle">
  <svg viewBox="-15 -12 80 70">
    <circle cx="47" cy="40" r="12" stroke-dasharray="0.388" stroke-width="2.5" fill="black" fill-opacity="0.2" stroke="white"/>
  </svg>
  </div>
  <div class="spending-circle">
  <svg viewBox="-28 -20 100 110">
    <circle cx="22" cy="26" r="43" stroke-dasharray="0.918" stroke-width="6.5"fill="black" fill-opacity="0.2" stroke="white"/>
  </svg>
  </div>
  <div>
  <h6 class="slider-help-text">{{'helpTrySlider' | replaceLabel}}</h6>
  <h6 class="slider-help-text" style="margin-bottom: 0">{{'helpUnderstandDiff' | replaceLabel}}</h6>
  <h6 class="slider-help-text">{{'helpAffectEconomy' | replaceLabel}}</h6>
  </div>
  <div style="padding-top: 20%">
    <h6 class="expenses-help-text">{{'helpAddedExp' | replaceLabel}}</h6>
    <h6 class="expenses-help-text" style="margin-bottom: 0">{{'helpFiguresToPlay' | replaceLabel}}</h6>
    <h6 class="expenses-help-text">{{'helpCheckSection' | replaceLabel}}</h6>
  </div>
  <button (click)="onIsHelpOpen()">{{'helpGotItBtn' | replaceLabel}}</button>
</div>
<ng-content></ng-content>
