.help-container {
  position: absolute;
  background: #0a0a0a radial-gradient(farthest-side at 80% 40%, grey, black);
  opacity: 0.75;
  margin-top: -12%;
  margin-left: -4%;
  width: 100%;
  height: 112%;
  z-index: 1;
}

.affordability-circle {
  width: 65%;
  height: 25%;
  float: left;
}

.spending-circle {
  width: 35%;
  height: 30%;
  float: right;
  padding-top: 40%;
}

.slider-help-text {
  color: white;
  font-style: italic;
  z-index: 1;
  font-weight: 100;
  margin-left: 15%;
  margin-top: 0;
}

.expenses-help-text {
  color: white;
  font-style: italic;
  z-index: 1;
  font-weight: 100;
  margin-right: 5%;
  float: right;
}

button {
  margin-top: 70%;
  z-index: 2;
  background-color: #0a0a0a;
  border-color: white;
  color: white;
  width: 40%;
  margin-left: 30%;
}
