<span id="counter-decrement" class="counter-button" (click)="decrement()" [ngClass]="{'disabled': disabled}">-</span>
<span id="counter-value" class="counter-value" >{{ value }}</span>
<span id="counter-increment" class="counter-button" (click)="increment()" [ngClass]="{'disabled': disabled}">+</span>
