:host {
  display: inline-block;
  font-weight: bolder;
  user-select: none;
  padding: 0 0.5em;
}

span {
  cursor: default;
  display: inline-block;

  &.counter-button {
    cursor: pointer;
  }
  &.counter-value {
    width: 2em;
  }

  &.disabled {
    cursor: not-allowed;
  }
}
