@import "../../../../styleguide/_settings/colors";

.white-background {
  background-color: white;
}

.nordea-blue-color {
  color: $nordea-blue;
}

.gray-border-bottom {
  border-bottom: 1px solid $medium-gray
}

