<!-- Debt & childrenSupportIncome -->
<div class="row white-background">
  <div class="columns">
    <div class="row">
      <div class="columns text-center gray-border-bottom">
        <h6>{{'dashboardBudget' | replaceLabel}} <span class=" icon-help"></span></h6>
      </div>
    </div>

    <div class="row gray-border-bottom">
      <div class="columns small-12 label" style="padding-top: 1rem;" (click)="onIncomeOpen()">
        <div class="row">
          <div class="columns small-7">
            <h6 class="padding-margin-bottom--0">{{'dashboardHouseholdIncome' | replaceLabel}}</h6>
            <span style="font-size:10px" *ngIf="dashboard.currentlyEditedAdults.length == 1">{{'oneAdult' | replaceLabel}}</span>
            <span style="font-size:10px" *ngIf="dashboard.currentlyEditedAdults.length == 2">{{'twoAdults' | replaceLabel}}</span>
          </div>
          <div class="columns small-4 text-right">
            <h6 style="color: #0a0a0a;"> {{dashboard.totalIncome | numberAmount:0}} {{('currency' + dashboard.currency)
              | replaceLabel}}</h6>
          </div>
          <div class="columns small-1 text-center">
            <span
              [ngClass]="dashboard.currentlyOpenedElement===dashboard.currentlyEditedAdults ? 'icon-angle-up' : 'icon-angle-down'"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row gray-border-bottom" *ngIf="dashboard.currentlyOpenedElement===dashboard.currentlyEditedAdults">
      <div class="columns">
        <div class="row">
          <div class="columns text-center" style="padding-top: 2rem;">
            <hj-switch [(ngModel)]="manualTaxSetting" [noMarginBottom]="true">
            </hj-switch>
            <h6 style="display: inline-block">{{'manualTaxSetting' | replaceLabel}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="columns" *ngFor="let adult of dashboard.currentlyEditedAdults; let i = index">
            <div class="row">
              <div class="columns small-10" style="padding-left:0px">
                <h5 *ngIf="dashboard.currentlyEditedAdults.length > 1">{{'adultHeader'+ (i+1) | replaceLabel}}</h5>
              </div>
              <div class="columns small-2" style="padding-right:0px">
                <span *ngIf="i>0" (click)="onDeleteAdult()" style="float:right; " ngClass="icon-times-circle"></span>
              </div>
            </div>
            <div class="columns small-12">

              <!-- before tax slider -->
              <hj-value-slider
                [hidden]="manualTaxSetting"
                [(ngModel)]="adult.incomeBeforeTaxation"
                description="{{'adultIncomeBeforeTax' | replaceLabel}}"
                (onSliderChange)="recalculateIncomeAfterTax(adult)"
                postFix="{{('currency' + dashboard.currency) | replaceLabel}}"
                subDescription="{{'afterTaxCalculated' | replaceLabel}}: {{adult.incomeAfterTaxation | numberAmount:0}} {{('currency' + dashboard.currency) | replaceLabel}}"
                [range]="dashboard.taxRange"
                [mode]="dashboard.SliderMode.SPECIFIC_RANGE"
                [editModeEnabled]="true"
              >
              </hj-value-slider>
              <!-- after tax slider -->
              <hj-value-slider
                [hidden]="!manualTaxSetting"
                [(ngModel)]="adult.incomeAfterTaxation"
                description="{{'adultIncomeAfterTax' | replaceLabel}}"
                postFix="{{('currency' + dashboard.currency) | replaceLabel}}"
                [range]="dashboard.taxRange"
                [mode]="dashboard.SliderMode.SPECIFIC_RANGE"
                [editModeEnabled]="true"
                (onReset)="recalculateIncomeAfterTax(adult)"
                [resetButtonEnabled]="true">
              </hj-value-slider>
            </div>
          </div>
        </div>


      </div>
      <div class="columns small-12  text-center nordea-blue-color" (click)="onAddAdult()"
           *ngIf="dashboard.currentlyEditedAdults.length == 1">
        <span ngClass="icon-times-circle" style="transform: rotate(45deg);"></span>&nbsp;<span>{{'addAdult' | replaceLabel}}</span>
      </div>
      <div class="columns small-12">

        <button style="background-color: #40bfa3; width: 35%; border: none; margin: 9%; padding: 3%"
                (click)="onSaveIncome()">{{'save' | replaceLabel}}
        </button>
        <button style="width: 35%; background-color: white; color: #00005e; padding: 2%" (click)="onCancelIncome()">
          {{'cancel' | replaceLabel}}
        </button>
      </div>
    </div>
  </div>


  <div class="columns small-12 label gray-border-bottom" style="padding-top: 1em;" (click)="onDownPaymentOpen()">
    <div class="columns small-6">
      <h6 class="padding-margin-bottom--0">{{'dashboardDownPayment' | replaceLabel}}</h6>
      <span style="font-size:10px">{{'dashboardDownpaymentDescription' | replaceLabel}}</span>
    </div>
    <div class="columns small-4">
      <h6 style="color: #0a0a0a; text-align:center">{{dashboard.downPayment | numberAmount:0}} {{('currency' +
        dashboard.currency) | replaceLabel}}</h6>
    </div>
    <div class="columns small-2">
      <span [ngClass]="dashboard.currentlyOpenedElement===dashboard.downPayment ? 'icon-angle-up' : 'icon-angle-down'"
            style="padding-bottom: 2rem"></span>
    </div>
  </div>
  <div class="expense" *ngIf="dashboard.currentlyOpenedElement===dashboard.downPayment">
    <div class="columns small-12" style="margin-top: 4%">
      <hj-value-slider
        description="{{'downPaymentDescription' | replaceLabel}}"
        subDescription="{{'downPaymentSubDescription' | replaceLabel}}"
        postFix="{{('currency' + dashboard.currency) | replaceLabel}}"
        toolTipText="{{'downPaymentTooltipText' | replaceLabel}}"
        [(ngModel)]="dashboard.currentlyEditedDownPayment"
        [range]="dashboard.downPaymentRange"
        [mode]="dashboard.SliderMode.SPECIFIC_RANGE">
      </hj-value-slider>
    </div>
    <div style="margin-left: 20%">
      <button style="background-color: #40bfa3; width: 35%; border: none; margin: 9%; padding: 3%"
              (click)="onSaveDownPayment()">{{'save' | replaceLabel}}
      </button>
      <button style="width: 35%; background-color: white; color: #00005e;padding: 2%" (click)="onCancelDownPayment()">
        {{'cancel' | replaceLabel}}
      </button>
    </div>
  </div>
</div>

