/**
  * @stylesheet base/grid/_grid.scss Grid
  * @parent general
  *
  * @description
    <h4>Breakpoints</h4>
    <p>The grid is based on <a href="http://foundation.zurb.com/sites/docs/grid.html">foundation grid</a>. All utiility classes available in the foundation grid should also be available in the framework.

    <p>The following breakpoints are defined globally.</p>
    <ul>
        <li>Small: 0px</li>
        <li>Medium: 640px</li>
        <li>Large: 920px</li>
        <li>xLarge: 1200px</li>
        <li>xxLarge: 1440px</li>
    </ul>

    In addition, some components can have a locally defined breakpoints but that should be kept to a minimum.
  *
  *
  *
  * @demo demos/atoms/_grid.html
  *
  **/

@import '../_plugins/foundation/foundation';

@include foundation-grid;
@include foundation-visibility-classes;

.row--margin {
    margin-bottom:2rem;
}

.row--margin-small {
    margin-bottom:1rem;
}

.row--margin--top{
    margin-top: 2rem;
}

.row--margin--top-small{
    margin-top: 1rem;
}

.row--nested-margin {
    @each $size, $grid-column-gut in $grid-column-gutter {
        @include breakpoint($size) {
            padding:0 $grid-column-gut/2;
        }
    }

    @include breakpoint(medium) {
        padding:0;
    }
}

[data-fx-pivot-item].swiper-slide {
    @each $size, $grid-column-gut in $grid-column-gutter {
        @include breakpoint($size) {
          padding:0 0 0 $grid-column-gut/2;
        }
    }
}
