* {
  box-sizing: border-box;
}

html {
  @each $size, $base in $base-size {
    @include breakpoint($size) {
      font-size:$base;
    }
  }
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-family: $font-family-main;
  font-weight:normal;
  line-height: $base-lineheight;

  color:$black;
  background: $gothenburg-gray;

  ::selection {
    background:$nordea-blue; /* WebKit/Blink Browsers */
    color:$white;
  }
  ::-moz-selection {
    background:$nordea-blue; /* Gecko Browsers */
    color:$white;
  }
}
