@mixin nordea-button($bg:$deep-blue, $text:$white, $shade:20%) {
  color:$text;
  background-color: $bg;
  border-style: solid;
  border-width: 3px;

  @if $bg == transparent {
    border-color: $text;
  } @else {
    border-color: $bg;
  }

  &:focus {
    background-color: $bg;
    color:$text;

    @if $bg == transparent {
      border-color: $text;
    } @else {
      border-color: $bg;
    }
  }

  &:hover,
  &:active {
    background-color:darken($bg, $shade);
    color:$text;

    @if $bg == transparent {
      border-color: $text;
    } @else {
      border-color: darken($bg, $shade);
    }
  }

  &:hover,
  &:active,
  &:focus {
    &:disabled {
      background-color:$bg;
      cursor: default;

      @if $bg == transparent {
        border-color: $text;
      } @else {
        border-color: $bg;
      }
    }
  }
}

// Mixin used to generate all the standard button-color classes.
// Used for normal layout and private-banking
@mixin generate-color-buttons() {
  .button--white {
    @include nordea-button($white, $deep-blue);
  }

  .button--green {
    @include nordea-button($accent-green, $white, 10%);
  }

  .button--red {
    @include nordea-button($accent-red, $white);
  }

  .button--light-blue {
    @include nordea-button($cloud-blue, $deep-blue);
  }

  .button--yellow {
    @include nordea-button($accent-yellow, $deep-blue);
  }

  .button--hollow-nordea-blue {
    @include nordea-button(transparent, $deep-blue);
  }

  .button--hollow-white {
    @include nordea-button(transparent, $white);
  }

  .button--disabled {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
  }
}

// Mixin to generate the special jumbotron buttons including
// the breakpoints.
@mixin generate-jumbotron-buttons($mobilebg:$deep-blue, $mobiletext:$white) {
  .jumbotron__content {
    @include breakpoint(medium) {
      &--dark {
        .button--yellow {
          @include nordea-button($accent-yellow-dark-bg, $deep-blue);
        }

        .button--red {
          @include nordea-button($accent-red-dark-bg, $deep-blue);
        }

        .button--green {
          @include nordea-button($accent-green-dark-bg, $deep-blue, 15%);
        }
      }
    }

    @include breakpoint(small down) {
      .button--white,
      .button--light-blue {
        @include nordea-button($mobilebg, $mobiletext);
      }

      &--dark {
        .button--white,
        .button--light-blue {
          @include nordea-button($mobilebg, $mobiletext);
        }
      }
    }
  }
}
