@mixin round-icon($size:large, $bg:$cloud-blue, $color:$deep-blue) {
    background: $bg;
    padding: 1rem;
    border-radius: 100%;
    color: $color;
    display: inline-block;

    @if $size == large {
      font-size:rem-calc(45);
      width: 4.75rem;
      height: 4.75rem;
    }
}
