/*--------Clear Floats based on numbers on items in a Row------*/
@mixin items-in-a-row($n-in-a-row) {
  @if($n-in-a-row == '1') {
    & > div {clear: left; clear: right;}
  } @else {
    & > div:nth-of-type(n) {
      clear:none;
    }
    & > div:nth-of-type(#{$n-in-a-row}n+1) {clear: left;}
    & > div:nth-of-type(#{$n-in-a-row}n) {clear: right;}
  }

}

@mixin list-items-in-a-row($n-in-a-row) {
  @if($n-in-a-row == '1') {
    & > li {clear: left; clear: right;}
  } @else {
    & > li:nth-of-type(n) {
      clear:none;
    }
    & > li:nth-of-type(#{$n-in-a-row}n+1) {clear: left;}
    & > li:nth-of-type(#{$n-in-a-row}n) {clear: right;}
  }

}
