@mixin nordea-transition($property:all, $duration:$animation-duration, $easing:$easing) {
    transition-property: #{unquote($property)};
    transition-timing-function: $easing;
    transition-duration: $duration;
}
