@mixin pointy-item($bg:$nordea-blue) {
  position: relative;

  &:before,
  &:after {
    background-color:$bg;
    content: "";
    width: 10%;
    height: 50%;
    position: absolute;
    display: block;
    border-radius: 0;
  }

  &:before {
    bottom: 0px;
    right: -5px;
    transform: skewX(-20deg);
  }

  &:after {
    top: 0px;
    right: -5px;
    transform: skewX(20deg);
  }
}

@mixin pointier-item($bg:$nordea-blue, $width:25px) {
  position: relative;

  svg {
    display: block;
    width: $width; /* how pointy */
    height: 100%;
    /* positioning */
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: -2px; // The pointy item has a flat part to start with. IE left a gap so we can now pull it back to cover it.
  }

  path {
    fill: $bg;
  }
}


@mixin pointy-item-reset {
  &:before,
  &:after {
    background-color: transparent;
    width:initial;
    height:initial;
    top:initial;
    bottom:initial;
    right:initial;
    left:initial;
    transform: none;
  }
}
