@mixin reset-list {
    list-style: none;
}

@mixin reset-list-item {

    margin:0;
    padding:0;
    color:inherit;

    &:before {
        display:none;
        color:inherit;
        top: initial;
        left: initial;
        display: initial;
        width: initial;
        height: initial;
        background: transparent;
        position: initial;
    }
}
