/*
    A collection of mixins to get various heading settings aligned with the breakpoints. Settings are found in "_settings/_typography"
*/

@mixin getHeaderFontSize($heading) {

    @each $size, $headers in $header-size {
        @include breakpoint($size) {

            font-size:map-get($headers, $heading);
        }
    }
}

@mixin getHeaderLineHeight($heading) {

    @each $size, $headers in $header-lineheight{
        @include breakpoint($size) {

            line-height:map-get($headers, $heading);
        }
    }
}

@mixin getHeaderFont($heading) {

    @each $size, $headers in $header-font{
        @include breakpoint($size) {
            font-family:map-get($headers, $heading);
        }
    }
}

@mixin getHeaderWeight($heading) {

    @each $size, $headers in $header-weight{
        @include breakpoint($size) {
            font-weight:map-get($headers, $heading);
        }
    }
}

@mixin getHeaderAllSettings($size) {
    @include getHeaderFontSize($size);
    @include getHeaderLineHeight($size);
    @include getHeaderFont($size);
    @include getHeaderWeight($size);
}


@mixin getHeadings() {

    @each $breakpoint in $typography-breakpoints {

        @include breakpoint($breakpoint) {

            @each $heading in h1, h2, h3, h4, h5, h6 {
                #{$heading}, .#{$heading} {
                    font-size: map-deep-get($header-size, $breakpoint, $heading);
                    line-height: map-deep-get($header-lineheight, $breakpoint, $heading);
                    font-family: map-deep-get($header-font, $breakpoint, $heading);
                    font-weight: map-deep-get($header-weight, $breakpoint, $heading);
                }
            }
        }
    }

    @each $breakpoint in $typography-breakpoints {

        @include breakpoint($breakpoint) {
            @each $heading in h1, h2, h3, h4, h5, h6 {
                .#{$breakpoint}-#{$heading} {
                    font-size: map-deep-get($header-size, $breakpoint, $heading);
                    line-height: map-deep-get($header-lineheight, $breakpoint, $heading);
                    font-family: map-deep-get($header-font, $breakpoint, $heading);
                    font-weight: map-deep-get($header-weight, $breakpoint, $heading);
                }
            }
        }
    }
}
