/*
    Use this mixin to get a z-index created from the map in _settings/_zindex.scss
*/

$z-index-map: ();

@each $group-name, $group-list in $z-indexed-items {
  $counter: 50; // The reason for starting at 50 is that items are placed on top of the ICE interface.
  $group-map: ();
  @each $item in $group-list {
    $group-map: map-merge($group-map, ($item: $counter));
    $counter: $counter + 1;
  }
  $z-index-map: map-merge($z-index-map, ($group-name: $group-map));
}

@mixin zindex($group, $key) {
  z-index: map-get(map-get($z-index-map, $group), $key);
}
