//Duration Classes
.animation-duration {
  transition-duration: $animation-duration;
}

.animation-dureation--leave {
  transition-duration: $animation-duration--leave;
}

.animation-dureation--enter {
  transition-duration: $animation-duration--enter;
}

.animation-dureation--complex {
  transition-duration: $animation-duration--complex;
}

//Easing classes
.animation-easing {
  transition-timing-function: $easing;
}

.animation-easing--leave {
  transition-timing-function: $easing--leave;
}

.animation-easing--enter {
  transition-timing-function: $easing--enter;
}

.animation-easing--return {
  transition-timing-function: $easing--return;
}

.animation-easing--bounce {
  transition-timing-function: $easing--bounce;
}

.animation--basic {
  @include nordea-transition(all, $animation-duration, $easing);
}

.animation--leave {
  @include nordea-transition(all, $animation-duration--leave, $easing--leave);
}

.animation--enter {
  @include nordea-transition(all, $animation-duration--enter, $easing--enter);
}

.animation--return {
  @include nordea-transition(all, $animation-duration--enter, $easing--return);
}

.animation--complex {
  @include nordea-transition(all, $animation-duration--complex, $easing);
}

//Keyframes
@keyframes fx-ripple-circle {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

@keyframes navigation__login-docked {
  0% {
    transform: translate(-0%, 0%);
    opacity: 1;
  }

  50% {
    transform: translate(-0%, 100%);
    opacity: 0;
  }

  100% {
    transform: translate(-100%, 100%);
    opacity: 1;
  }
}

@keyframes navigation__login-undocked {
  0% {
    transform: translate(-100%, 100%);
    opacity: 1;
  }

  50% {
    transform: translate(-0%, 100%);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(-0%, 0%);
  }
}

@mixin heartbeat($color: $dark-gray) {
  @keyframes heartbeat {
    0% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 0px 0 rgba($color, 0),
      inset 0px 0 rgba($color, 0);
    }

    14% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 5px 0 rgba($color, .05),
      inset -5px 0 rgba($color, .05);
    }

    28% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 18px 0 rgba($color, .15),
      inset -18px 0 rgba($color, .15);
    }

    42% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 5px 0 rgba($color, .05),
      inset -5px 0 rgba($color, .05);
    }

    70% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 18px 0 rgba($color, .15),
      inset -18px 0 rgba($color, .15);
    }

    100% {
      box-shadow: 0px 1px 2px 1px rgba($color, .15),
      inset 2px 0 rgba($color, .03),
      inset -2px 0 rgba($color, .03);
    }
  }
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: heartbeat;
}

//No-js animations
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein-up {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidein-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.fx--shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
