.fx-ripple-circle {
  position: absolute;
  width: 0px;
  height: 0px;
  background: rgba($white, .4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
  animation: fx-ripple-circle $animation-duration--complex $easing--enter;
}

@include breakpoint(medium) {
  [data-fx-slidein-right] {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: none !important;
  }

  [data-fx-slidein-up] {
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    transition: none !important;
  }

  [data-fx-fade-in] {
    visibility: hidden;
    opacity: 0;
    transition: none !important;
  }

  .no-js {
    [data-fx-fade-in] {
      visibility: visible;
      animation-fill-mode: forwards;
      animation-name: fadein;
      animation-duration: 0.7s;
    }

    [data-fx-slidein-right] {
      visibility: visible;
      animation-fill-mode: forwards;
      animation-name: slidein-right;
      animation-duration: 0.7s;
    }

    [data-fx-slidein-up] {
      visibility: visible;
      animation-fill-mode: forwards;
      animation-name: slidein-up;
      animation-duration: 0.3s;
    }

    [data-fx-slidein-up][data-fx-delay="3"], [data-fx-slidein-right][data-fx-delay="3"], [data-fx-fade-in][data-fx-delay="3"] {
      animation-delay: 0.5s;
    }
  }
}



