<hj-tooltip-component *ngFor="let tooltipOptions of tooltips" [hjTooltipHostEl]="nativeEl"
                      [hjTooltipVisible]="isTooltipVisible(tooltipOptions.id)" [hjTooltipOptions]="tooltipOptions" (hjTooltipHide)="toggleTooltip($event.id)"></hj-tooltip-component>
<ng-content></ng-content>
