.static-footer__branding {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(medium) {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.static-footer__info {
  margin-bottom: 2rem;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }
}

.static-footer__legal-links {
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  li {
    font-size: rem-calc(14);
    display: inline-block;
    margin: 0 1rem;

    @include breakpoint(medium) {
      margin: 0 2rem 0 0;
      float: left;
    }
  }
}

.static-footer__settings {
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  a {
    padding-right: 1rem;
  }
}
