.static-footer {
  @extend %reset-list;
  background-color: $nordea-blue;
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  a {
    color: $white;
    text-decoration: none;
    padding-right: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.static-footer__meta {
  background-color: $white;
  padding: 0.5rem 0;
  font-size: rem-calc(14);
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  p {
    margin: 0;
    color: $black;
  }
}






