input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=color] {
  height: 50px;
  width: 50px;
  border: 1px solid #0000a0;
  padding: 0;
  margin: 0;
}
