.invalid {
    .form__field-wrapper {
        label {
            // selectors for checkbox and radiobuttons
            &:before {
                border: 2px solid $form__errorcolor;
            }
        }
    }
    label {
        @include error-color;
    }
    // Chevron in dropdown
    .form__field-wrapper {
        &:before {
            @include error-color;
        }
    }
}

.field-invalid, .error-message {
    @include error-color;
    font-weight: normal;
}

.error-message {
    display: inline;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
}

input,
textarea,
select {
    &[aria-invalid="true"] {
        outline-color: $form__errorcolor;

        &:focus {
            outline-color: $form__errorcolor;
        }
    }
}
