input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=tel],
input[type=url],
input[type=search],
input[type=date],
input[type=time],
input[type=datalist] {
    @include form-base;
}

.form__input {
    @extend %form__input;
    clear: both;
}

.form__input--prefixed {
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=date],
    input[type=time],
    input[type=datalist] {
        padding-right:rem-calc(36 + 8);
    }

    .form__field-wrapper {
        position: relative;

        &:after {
            position: absolute;
            right:rem-calc(8);
            content:attr(data-prefix);
            color: $black;

            @include breakpoint(medium) {
                top:rem-calc(12);
            }
        }
    }
}

::-ms-clear {
    display: none;
}
