.tooltip__icon {
  @extend %icon-font;
  @extend .icon-question-small;
  position: relative;
  float: right;
  color: $deep-blue;
  border: 2px solid $deep-blue;
  border-radius: 50%;
  padding: 3px;
  margin: 11px 0 10px 10px;
  font-size: rem-calc(14px);
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  @include breakpoint(medium) {
    order: 3;
    flex: 0 0 2%;
  }
}

.tooltip__container {
  position: absolute;
  background: $deep-blue;
  color: $white;

  z-index: 1;
  width: 100%;
  max-width: 460px;
  min-width: 280px;
  transform: translateY(-100%);
  top: -16px;
  right: -13px;

  padding: 2rem;
  text-align: left;
  font-family: $font-family-main;
  font-weight: normal;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  cursor: initial;
  display: none;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 13px;
    border-width: 10px;
    border-style: solid;
    border-color: $deep-blue transparent transparent transparent;
  }

  .tooltip__close-x {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
}

.form__input-wrapper {
  display: block;
  overflow: hidden;
}
