label, .form__label {
    display: block;
    margin-bottom:rem-calc(4);
}

.field-required {
  font-size: rem-calc(24);
  font-weight: normal;
  line-height: 0.4;
  vertical-align: text-bottom;
}

legend {
    @extend .h3;
    color:$deep-blue;
}
