meter {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
  
  /* For Firefox */
  background: $nordea-gray;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 25px;
}

/* WebKit */
meter::-webkit-meter-bar {
  background: $nordea-gray;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
  border-radius: 25px;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  border-radius: 25px;
}

meter::-webkit-meter-optimum-value {
  background: $accent-green;
}

meter::-webkit-meter-suboptimum-value {
  background: $accent-yellow;
}

meter::-webkit-meter-even-less-good-value  {
  background: $accent-red;
}


/* Firefox */
meter::-moz-meter-bar {
  border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
  background: $accent-green;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: $accent-yellow;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: $accent-red;
}
