.form--onpage {
  margin-bottom: 2rem;

  form {
    transform: translate3d(0, 0, 0);

    .card__footer {
      padding: 0;

      button {
        margin-bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  legend {
    @extend .h2;
  }

  .form__input {
    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @include breakpoint(medium) {
    @include grid-column(12);
  }
}
