progress {
  appearance: none;

  width: 100%;
  height: 30px;

  border: none;
  background: $nordea-gray;
  border-radius: 25px;
}

progress::-webkit-progress-bar {
  background: $nordea-gray;
  border-radius: 25px;
}

progress::-webkit-progress-value {
  background-color: $accent-green;
  border-radius: 25px;
}

progress::-moz-progress-bar {
  background-color: $nordea-gray;
  border-radius: 25px;
}
