// TODO: Investigate if we should just use the icons from material design instead. All states exist.
input[type='radio'],
input[type='checkbox'] {
  opacity: 0;
  position: absolute; // This will keep it 'visible' on the page for screen readers

  @include nordea-form-expand-circle;

  & + label {
    position: relative;
    font-size: rem-calc(16);
    font-weight: normal;
    padding-left: rem-calc(28);

    &:before,
    &:after {
      position: absolute;
      top: rem-calc(3);
      left: 3px;
      display: inline-block;
    }

    &:before {
      top: rem-calc(3);
      border: 2px solid $dark-gray;
      width: rem-calc(18);
      height: rem-calc(18);
      margin-right: 5px;

      @include nordea-transition(
        'background border color',
        $animation-duration--complex
      );
      @extend %icon-font;
      @extend .icon-checkmark-small:before;
      font-size: rem-calc(14);
      line-height: rem-calc(18);
      color: transparent;
      text-align: center;
    }

    &:after {
      width: rem-calc(20);
      height: rem-calc(20);
      border-radius: 50%;
      content: '';
    }
  }

  &:checked + label {
    &:before {
      border-color: $deep-blue;
      background: $deep-blue;
    }
  }

  &:disabled + label {
    color: $nordea-gray;

    &:before {
      border-color: $nordea-gray;
    }
  }

  &:focus + label:before {
    outline-width: 3px;
    outline-style: solid;
    outline-color: Highlight;
  }

  /* WebKit gets its native focus styles. */
  @media (-webkit-min-device-pixel-ratio: 0) {
    &:focus + label:before {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}

input[type='radio'] {
  & + label {
    &:before {
      border-radius: 100%;
    }

    &:after {
      top: rem-calc(4);
      left: 1px;
    }
  }

  &:checked + label {
    &:before {
      box-shadow: inset 0 0 0 rem-calc(3) $light-gray;
    }
  }
}

input[type='checkbox'] {
  & + label {
    &:before {
      border-radius: 3px;
      width: rem-calc(16);
      height: rem-calc(16);
    }
  }

  &:checked + label {
    &:before {
      color: $white;
    }
  }

  // For checkboxes, increase the focus indicator
  &:focus + label:before {
    box-shadow: 0 0 0 3px Highlight;
  }

  /* WebKit gets its native focus styles. */
  @media (-webkit-min-device-pixel-ratio: 0) {
    &:focus + label:before {
      box-shadow: 0 0 0 3px -webkit-focus-ring-color;
    }
  }
}

$transitionTime: 0.8s;

// .wrapper{
//   width: 800px;
//   background-color: green;
// }

.selectSquaredWrapper {
  display: none;
  position: relative;
  width: percentage(1/5);
  float: left;
  // transition: color $transitionTime,  background-color $transitionTime;

  .selectSquaredWrapper__content {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  select {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    padding: 1rem;

    border-radius: 0;
    border: none;
    background-color: $light-background;
    color: $deep-blue;
    text-align-last: center;
    font-size: rem-calc(16px);
    line-height: 1.1;
    font-weight: bold;
    padding-top: 72%;
    // transition: color $transitionTime,  background-color $transitionTime;
  }

  label {
    position: absolute;
    top: 39%;
    width: 100%;
    height: auto;
    text-align: center;
    transform: translateY(-50%);

    color: $deep-blue;
    opacity: 0.3;
    pointer-events: none;
    // font-size: rem-calc(11px);
    font-size: rem-calc(40px);
    font-weight: bold;

    margin-bottom: 0;

    // transition: color $transitionTime;
  }

  .selected-opt {
    background-color: $deep-blue;
    color: $white;
    // opacity: 1;
  }
}

.select-regular-wrapper {
  @include breakpoint(large) {
    display: none;
  }
}

.radioSquared-wrapper {
  display: none;
  @include breakpoint(large) {
    display: block;
    margin-bottom: 1rem;
  }
}

input[type='radio'].radioSquared:last-child {
  border-right: 0px;
}

input[type='radio'].radioSquared {
  opacity: 0;
  position: absolute;
  margin: 0;

  & + label {
    position: relative;
    float: left;
    display: inline-block;
    width: percentage(1/5);
    height: auto;
    // min-width: 120px;
    // min-height: 120px;
    margin: 0;
    cursor: pointer;
    transition: color $transitionTime, background-color $transitionTime,
      border-color $transitionTime, width $transitionTime,
      height $transitionTime;
    padding-left: 0;
    border-right: 1px $light-gray inset;

    // @include nordea-transition(background,$animation-duration--complex);

    .radioSquared__label {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }

    .radioSquared__content {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $light-background;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .label__icon,
    .label__text {
      display: block;
      text-align: center;
    }

    .label__icon {
      margin-bottom: 1rem;
      &:before {
        font-size: rem-calc(46);
        color: $deep-blue;
      }
    }

    .label__text {
      width: 100%;
      text-align: center;
      color: $deep-blue;
      font-size: rem-calc(16);
      line-height: 1.1;
      font-weight: bold;
    }

    &:before {
      display: none;
    }

    &:after {
      position: absolute;
      color: $white;
      display: none;
      background: transparent;
      transition: all $transitionTime;
    }
  }
  & + label:last-of-type {
    border-right: 0px $light-gray inset;
  }

  &:checked + label {
    select {
      color: $white;
    }

    .radioSquared__content {
      background-color: $deep-blue;
      color: white;
    }

    .label__text,
    .label__icon:before {
      color: $white;
    }

    &:before {
      content: '\E008';
      color: $white;
    }

    &:after {
      @extend %icon-font;
      @extend .icon-checkmark-small:before;
      right: 2px;
      font-size: 12px;
      top: 10px;
      bottom: initial;
      left: initial;
      display: block;
      transition: all $transitionTime;
    }
  }

  &:disabled + label {
    opacity: 0.4;
    &:before {
      background: gray;
    }
  }
}
