@mixin range-slider-thumb {
  height: rem-calc(24);
  width: rem-calc(24);
  border-radius: 100%;
  background:$white;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.75);

  .section--white & {
      background:$dark-gray;
  }
}

@mixin range-slider-track {
  width: 100%;
  height: rem-calc(12);
  cursor: pointer;
  background:$nordea-gray;
  border-radius: rem-calc(10);

  .section--white & {
      background: $light-background;
  }
}

/* All the same stuff for Firefox */
input[type=range]::-webkit-slider-thumb {
  @include range-slider-thumb;
  margin-top: -6px
}
input[type=range]::-moz-range-thumb { @include range-slider-thumb }
input[type=range]::-ms-thumb { @include range-slider-thumb }

input[type=range]::-webkit-slider-runnable-track { @include range-slider-track }
// TODO: Active states like this: input[type=range]:focus::-webkit-slider-runnable-track { background: #367ebd; }
input[type=range]::-moz-range-track { @include range-slider-track }

input[type=range]::-ms-track {
  width: 100%;
  height: rem-calc(10);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: rem-calc(20) 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: $nordea-gray;
  border-radius: rem-calc(20);
}

input[type=range]::-ms-fill-upper {
  background: $nordea-gray;
  border-radius: rem-calc(20);
}
