fieldset {
    border:0;
    margin:0;
    padding:0;
}

legend {
    display: block;
    line-height: inherit;
}

input,
textarea,
select {
    position:relative;
    //native input reset
    // outline:none;
    box-shadow:none;
    background-clip: border-box;
    background:none;
    border:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}

select, input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
