.search__form {
  position: relative;
  @include nordea-transition('top, left, transform', .3s);

  .search--open & {
    @include zindex('global','search-active');
  }

  input[type="search"] {
    padding: 0 rem-calc(16);
    height:3rem;
    font-size:1rem;
    color:$deep-blue;
    @include breakpoint(medium) {
      height:4rem;
      padding: 0 rem-calc(18);
      font-size:rem-calc(20);
    }
  }

  &:before {
    @extend %icon-font;
    @extend .icon-search:before;

    position: absolute;
    right: rem-calc(16);
    top: rem-calc(16);
    font-size: rem-calc(22);
    z-index: 1;
    color:$deep-blue;

    pointer-events: none;

    @include breakpoint(medium) {
      top: rem-calc(20);
      right: rem-calc(18);
      font-size: rem-calc(24);
    }
  }
}

.search--open {
    [name="cancel"] {
      position: fixed;
      background-color: transparent;
      @include zindex('global','search-active');
      display: inline-block;

      &:before {
        color: $white;
      }
    }
}

.search--main {
  input[type="search"] {
    &:not(:focus) {
      outline: 0;
      border: none;
    }
  }
}

  .search {
    & [name="cancel"] {
      opacity: 0;
      visibility: hidden;
    }
  }

.search__input {
  position: relative;
  margin-bottom:0;

  label{
    display:none;
  }
}

.search__result-list {
  position: relative;
  width:100%;
  background-color:$white;
  @include zindex('global','search');

  .search--open & {
    @include zindex('global','search-active');
  }
}

.search__submit {
  position: absolute;
  right: 0;
  top: 0;
  min-width: auto;
  line-height: 4rem !important;
  height: 4rem;
  width: 3.7rem;

  &:hover {
    background: transparent;
  }

  &:before {
    font-weight: normal;
  }
}

.search__results {
  height: 0;
  overflow: hidden;
}

.search__result {
  @include reset-list-item;
  @include nordea-transition('color');
  display: block;
  padding:rem-calc(6) rem-calc(16);
  color:$deep-blue;


  &:first-child {
    margin-top:rem-calc(10);
  }

  &:last-child {
    margin-bottom:rem-calc(10);
  }

  a {
    text-decoration: none;
    color:inherit;
  }
}


// .featured-result {
//   @include reset-list-item;
//   padding:rem-calc(16);
//   background:$light-blue;

//   @include breakpoint(medium) {
//     padding:rem-calc(18);
//   }

//   a {
//     text-decoration: none;
//   }

//   h5 {
//     margin-bottom: 0.25rem;
//   }
//   p {
//     max-width:rem-calc(450);
//     margin-bottom:0;
//     font-size:1rem;
//     line-height: $base-lineheight;
//     color:$deep-blue;
//   }
// }

// .featured-result__icon {

//   padding-top:0.25rem;
//   margin-right:rem-calc(24);
//   color:$deep-blue;
//   display: none;

//   @include breakpoint(medium) {
//     display:block;
//   }
// }

// .featured-result__body {

//   display: flex;
// }

// .featured-result__text {
//   position: relative;
//   flex-grow: 1;
//   padding-right:rem-calc(32);

//   &:after {
//     position: absolute;
//     top:0;
//     right:rem-calc(16);
//     width:1px;
//     height:100%;
//     background-color:rgba($deep-blue, .2);
//     content:'';

//     @include breakpoint(medium) {
//       right:rem-calc(40);
//     }
//   }

//   &:before {

//     @extend %icon-font;
//     @extend .icon-angle-right:before;
//     position: absolute;
//     top:50%;
//     right:rem-calc(-8);
//     transform: translateY(-50%);
//     line-height: 100%;
//     font-size:1rem;
//     text-align: right;
//     color:$deep-blue;

//     @include breakpoint(medium) {
//       font-size:rem-calc(22);
//       right:0;
//     }
//   }
// }

.search__overlay {
  @include zindex('global','search-active');

  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity: 0;
  background-color: $black;
  visibility: hidden;
  @include nordea-transition('opacity, visibility', .3s);
}

.search--page {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;

  opacity: 0;
  visibility: hidden;
  display: none;

  @include breakpoint(large) {
    display: block;
  }

  @include zindex('global','search-active');

  .search__form {
    position: absolute;
    top:120%;
    left:50%;
    transform: translate(-50%, 0%);
    @include zindex('global','search-active');

  }

  .search__overlay {
    opacity: 0;
    visibility: hidden;
  }
}

/* Search results page
----------------------------*/
.search--site {
  .search__message {
    padding: rem-calc(24) rem-calc(2) 0;
  }

  .search__result-list {
    background-color: transparent;
  }

  .search__results {
    height: 100%;
  }

  .search__result {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: rem-calc(20);
    color: $black;

    h2 {
      @extend .h5;
      margin-bottom: 0;
    }

    .breadcrumb {
      padding: rem-calc(10);
      padding-left: rem-calc(2);
      font-size: rem-calc(16);

      .block-link:after {
        margin: 0 rem-calc(5);
      }
    }

    &-content {
      font-size: rem-calc(16);
    }
  }

  .search-pagination {
    @include clearfix();

    ul {
      @extend .reset-list;
      @include clearfix();
      margin: 0 0 3em;
      padding: 0;
      white-space: nowrap;
      float: left;
      text-align: center;
      width: 100%;
    }

    li {
      display: inline-block;
      list-style-type: none;
      margin-left: -4px;

      &:first-child {
          margin-left: -2px;
      }
    }

    .paginationitem {
      min-width: 1em;
      color: $deep-blue;
      display: none;
      margin-left: rem-calc(5);
      margin-right: rem-calc(5);
      padding: 0 rem-calc(6);
      text-decoration: none;
      font-size: 1.5em;

      &:hover {
        color: $vivid-blue;
        border-bottom: 2px solid $vivid-blue;
        text-decoration: none;
      }

      &.selected {
        border-bottom: 2px solid $deep-blue;
        &:hover {
          border-bottom: 2px solid $vivid-blue;
        }
      }

      &:before {
        vertical-align: middle;
        @extend %icon-font;
      }

      &.prev,
      &.next {
        span {
          display: none;
        }
      }

      &.prev:before {
        @extend .icon-angle-left;
        font-size: .85em;
        padding-left: 6px;
      }

      &.next:before {
        @extend .icon-angle-right;
        font-size: .85em;
        padding-right: 6px;
      }

      // Only show the selected, previous and next pagination items by default
      &.selected,
      &.prev,
      &.next {
        display: block;
      }

      // Show all pagination items when not in mobile view
      @include breakpoint(medium) {
        display: block;
      }
    }
  }
}
