select {
  @include form-base;
  padding: rem-calc(10) rem-calc(18) rem-calc(16);
}

option {
  &:disabled {
    color: $nordea-gray !important;
  }
}

.select-wrapper {
  position: relative;
  display: flex;
  overflow: visible;

  &:before {
    @extend %icon-font;
    @extend .icon-angle-down:before;

    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    vertical-align: middle;
    z-index: 1;
    pointer-events: none;
  }
}

.select--small {
  display: inline-block;

  &:before {
    font-size: rem-calc(10);
    right: 0;
  }

  select {
    padding: 0 0.5rem 0 0;
    height: rem-calc(26);
    font-size: rem-calc(16);
    font-weight: normal;
    background: none;

    option {
      color: $black;
      background: $white;
    }
  }
}

select::-ms-expand {
  display: none;
}

/* Since vendor prefixes do not work in IE9, we use the body class IE version class to target IE9 and hide the default system browser arrow for the select options */
.ie9 {
  .select-wrapper {
    max-width: 150px;
    overflow: hidden;
    select {
      min-width: 210px;
      border: 0px;
    }
  }
}

.js {
  .select-wrapper {
    ul {
      visibility: hidden;
    }
  }
}
