$form__textarea-height : 100px;
$form__errorcolor:  #a20800;

@mixin form-base {
  display: block;
  width:100%;
  padding: rem-calc(10) rem-calc(18);
  font-family: $font-family-main;
  font-size:rem-calc(18);
  line-height: $base-lineheight;
  font-weight: normal;
  color:$black;
  background-color:$white;
  outline: 1px solid $nordea-gray;

  &:focus {
    outline: 3px solid $nordea-blue;
  }

  @include placeholder {
   font-style: italic;
   font-weight: normal;
   color:$black;
   opacity: 1;
 }

 &:focus {
  @include placeholder {
    opacity: 0.5;
  }
}

&:disabled {
  opacity: .5;
}

.form-error & {
  border-bottom:1px solid red;
}
}

@mixin textarea-height  {
  min-height: $form__textarea-height;
}

@mixin error-color {
  color:$form__errorcolor;
}

@mixin nordea-form-expand-circle($color:$medium-blue) {
 & + label {
   &:before {
     z-index: 1;
   }
   &:after,
   &:before {
     @include nordea-transition('box-shadow transform',$animation-duration--complex);
   }

   &:hover {
     &:before {
       box-shadow: 0 4px 8px rgba($dark-gray, .1);
     }
   }

   &:active,
   &:focus {
     &:after {
       background: rgba($dark-gray, .1);
       box-shadow: 0 4px 8px rgba($dark-gray, .1), 0 0 0 14px rgba($dark-gray, .1);
     }
   }
 }

 &:checked + label {
   &:active,
   &:focus {
     &:after {
      background: rgba($color, .1);
      box-shadow: 0 4px 8px rgba($dark-gray, .1), 0 0 0 14px rgba($color, .1);
    }
  }
}

&:disabled +  label {
 &:active,
 &:focus {
   &:after {
     background: rgba($dark-gray, .1);
     box-shadow: 0 4px 8px rgba($dark-gray, .1), 0 0 0 6px rgba($dark-gray, .1);
   }
 }
}
}

%form__input {
  position: relative;
  margin-bottom:2rem;
}

.form-wrapper {
  position: relative;
  background-color: $gothenburg-gray;

  .section--white & {
    background-color: $white;
  }

  @include grid-column(12);

  @include breakpoint(medium) {
    @include grid-column(10);
  }

  @include breakpoint(large) {
    @include grid-column(8);
  }

  .modal__container & {
    background-color: $white;

    @include breakpoint(medium) {
      @include grid-column(12);
    }
  }
}

.form__field-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  p {
    font-size: 18px;
    margin: 0;
  }

  @include breakpoint(medium) {
    .form__input--tooltip & {
      flex: 1 0 calc(45% - 2rem);
      order: 2;
    }

    flex: 1 0 45%;
    order: 2;
  }
}

.form__controls {
  [type="submit"], [type="button"] {
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      margin-left: rem-calc(16);
      float: right;
    }
  }
}

// Reset the above rule for the onpage forms. Must be a better way to do this.
.form--onpage {
  .form__controls {
    [type="submit"], [type="button"] {
      @include breakpoint(medium) {
        margin-left: 0;
        float: none;
      }
    }
  }
}

.form__answers {
  clear: both;
  display: flex;
  flex-direction: column;

  dt {
    &:first-child {
      margin-top: rem-calc(16);
    }
  }

  dd {
    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: block;
      clear: both;
    }
  }
}

// This is designed to remove the margin-top on the first header on the thank you
// page since that is placed within and article.
.form__thankyou {
  @include clearfix();

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }
  .article {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__input .article {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
