 input[type=checkbox].switch {

    @include nordea-form-expand-circle;

    & + label {
        position: relative;
        display: inline-block;
        width:rem-calc(30);
        height:rem-calc(12);

        background:$nordea-gray;
        border-radius: 25px;
        cursor: pointer;

        @include nordea-transition(background,$animation-duration--complex);

        &:before,
        &:after {

            position: absolute;
            top:0;
            left:rem-calc(-3);
            bottom:0;
            width:rem-calc(20);
            height:rem-calc(20);
            margin:auto;
            border:none;
            background:$white;

            border-radius: 50%;
            content:'';

            .section--white & {
                background:$dark-gray;
            }
        }

        &:after {
            background:transparent;
            border-radius:50%;
        }
    }

    &:checked + label {

        background: $medium-blue;

        &:before,
        &:after {
                display: block;
                background: $vivid-blue;
                transform: translateX(rem-calc(16));
        }

        &:after {
            background:trasparent;
        }
    }

    &:disabled +  label {
        opacity: 0.4;
        &:before {
            background:$medium-gray;
        }
    }
 }
