textarea {
    @include form-base;
    @include textarea-height;
    padding-top:1rem;
    padding-bottom:1rem;
    resize: vertical;
}

.counter {
    //font-size: rem-calc(14);
    font-size: rem-calc(16);
    //font-weight: 300;
    font-weight: normal;
    float: right;
    padding-top: 0.2rem;
}


.form__textarea--inline {
    @include breakpoint(medium) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        label {
            @include getHeaderFontSize(h5);
            margin:rem-calc(5) 1rem 0 0;
        }

        .form__textarea-input {
            width: 100%;
                max-width:rem-calc(340);
        }
    }
}
