.section--white {
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=url],
  input[type=search],
  input[type=datalist],
  input[type=date],
  input[type=time],
  textarea,
  select {
    background: $cloud-blue;
  }

  .select--small select {
      background:transparent;
  }
}
