.times-circle{
	float: right;
	margin: 12px 0 10px 10px;

	&:before{
		@extend %icon-font;
    	@extend .icon-times-circle:before;
    	color: $accent-red;
    	font-size: 25px;
    	cursor: pointer;
	}

}