@import "../../../styleguide/_settings/colors";

button {
  background-color: $accent-green;
  border-style: none;
}

.white-background {
  background-color: white;
}

.childAgeSlider {
  text-align: left;
}
