<div class="row ">
  <div class="columns small-12 text-center" style="position: relative; padding-bottom: 4rem">
    <span (click)="goToStart()" class="icon-medium icon-cross" style="position: absolute; right: 1rem; cursor: pointer"></span>
    <span class="icon-medium icon-link-arrow" style="position: absolute; left: 1rem; cursor: pointer; transform: rotate(180deg);" (click)="goBack()"></span>
    <div>{{'wizardTitle' | replaceLabel}}</div>
  </div>
</div>

<div class="row">
  <div class="columns small-12 text-center">
    <span class="icon-xxlarge icon-person" style="padding-bottom: 2rem"></span>
  </div>
  <div class="columns small-12 text-center">
    <h2>{{'childrenTitle' | replaceLabel}}</h2>
  </div>
  <div class="columns small-12 text-center">
    <h1>
      <hj-counter [min]="0" [max]="8" [(ngModel)]="store.children.childCount" (ngModelChange)="onChildrenCountChange()"></hj-counter>
    </h1>
  </div>
</div>

<div class="row columns small-12" [ngClass]="{'white-background':store.children.children.length>0}">
  <div class="row white-background" style="padding-bottom: 2rem; " *ngIf="store.children.children.length>0">
    <div class="columns small-12 text-center" style="position: relative; padding-top: 2rem">
      <div style="width: 0; height: 0; position: absolute; left: 50%; top: -20px; border: 10px solid transparent; transform: translate(-50%, 0);border-bottom-color: white"></div>
      <div *ngFor="let child of store.children.children; let i = index">
        <hj-value-slider class="childAgeSlider"
                         [(ngModel)]="child.age"
                         (onSliderChange)="onSliderChange()"
                         description="{{'childAge'+(store.children.children.length - i) | replaceLabel}}"
                         [min]="0" [max]="17" postFix="years">
        </hj-value-slider>
      </div>
    </div>
  </div>
</div>

<div class="row" [ngClass]="{'white-background':store.children.children.length>0}">
  <div class="columns small-12 text-center text--small" style="color: #00005e">
    <p>{{'childSupport' | replaceLabel}} {{store.children.childrenSupportIncome}} {{ ('currency' + currency) | replaceLabel}} /
      {{'month' | replaceLabel}} <a class="icon-small icon-help pointer"></a>
    </p>
  </div>
  <div class="columns small-12 text-center" style="padding-top: 2rem;">
    <button style="z-index: 1" (click)="goNext()">{{'adultIncomeButtonNextText' | replaceLabel}}</button>
  </div>
  <div class="columns small-12 text-center" style="padding-top: 1rem">
    <progress-dots></progress-dots>
  </div>
</div>
